pipelines/docs/legacy/dify_config/_legacy/25.12.26.timestamp_matching working.yml
app:
  description: Simplified Content-Builder transcript analysis pipeline with Extractor
    and Writer nodes
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Content-Builder Pipeline (Simplified)
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.2@6e53b92877de2507ce83f2fc32ddf54a9662e4b5ef9e7e5d17bd18153a6485da
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: start-to-sentence_splitter
      selected: false
      source: start_node
      sourceHandle: source
      target: sentence_splitter_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: sentence_splitter-to-timestamp_matching
      selected: false
      source: sentence_splitter_node
      sourceHandle: source
      target: timestamp_matching_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: timestamp_matching-to-extractor
      selected: false
      source: timestamp_matching_node
      sourceHandle: source
      target: extractor_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: extractor-to-writer
      source: extractor_node
      sourceHandle: source
      target: writer_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: writer-to-markdown_transform
      source: writer_node
      sourceHandle: source
      target: markdown_transform_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: markdown_transform-to-end
      source: markdown_transform_node
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: transcript
          max_length: null
          options: []
          required: true
          type: text-input
          variable: transcript
        - label: source
          max_length: null
          options: []
          required: false
          type: text-input
          variable: source
        - label: episode_title
          max_length: null
          options: []
          required: false
          type: text-input
          variable: episode_title
        - label: words
          max_length: null
          options: []
          required: false
          type: text-input
          variable: words
      height: 186
      id: start_node
      position:
        x: 30
        y: 245
      positionAbsolute:
        x: 30
        y: 245
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            thinking_level: Minimal
          mode: chat
          name: gemini-3-flash-preview
          provider: langgenius/gemini/google
        prompt_template:
        - id: sentence-splitter-system
          role: system
          text: 'You are a text processing agent that splits transcript text into
            sentences.

            Your task: 1. Divide the transcript string into sentences 2. Fix any typos
            (錯別字) you encounter while preserving the meaning 3. CRITICAL CONSTRAINT:
            The total number of characters in all sentences combined MUST equal the
            original transcript character count

            Rules: - Split the text at natural sentence boundaries (periods, question
            marks, exclamation marks, etc.) - You may fix typos, but the total character
            count must remain exactly the same as the original - If you fix a typo
            by changing characters, you must compensate elsewhere to maintain the
            exact character count - Preserve all punctuation and formatting - Each
            sentence should be a complete, grammatically correct unit - Return sentences
            as a list of strings

            Example: Original: "這是測試。這是另一個測試。" Character count: 12 Output: ["這是測試。",
            "這是另一個測試。"] Character count: 12 (must match exactly)

            '
        - id: sentence-splitter-user
          role: user
          text: 'Split the following transcript into sentences. Fix any typos while
            maintaining the exact character count.

            Original transcript:

            {{#start_node.transcript#}}

            CRITICAL REQUIREMENTS: 1. Split the transcript into a list of sentences
            at natural sentence boundaries 2. Fix any typos (錯別字) you encounter -
            you may correct words, but the total character count must remain EXACTLY
            the same as the original 3. Count all characters (including spaces, punctuation)
            - the sum of characters in all sentences must equal the original transcript
            character count 4. Each sentence should be grammatically correct and complete
            5. If you fix a typo that changes character count, you must compensate
            elsewhere to maintain the exact total

            Return the sentences as a structured list. '
        selected: false
        structured_output:
          schema:
            properties:
              sentences:
                description: List of sentences split from the transcript. Total character
                  count must equal the original transcript character count.
                items:
                  type: string
                type: array
            required:
            - sentences
            type: object
        structured_output_enabled: true
        title: Sentence Splitter
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: sentence_splitter_node
      position:
        x: 316.3464593406351
        y: 245
      positionAbsolute:
        x: 316.3464593406351
        y: 245
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "from typing import List, Dict, Tuple, Optional, Union\nfrom difflib\
          \ import SequenceMatcher\nimport json\n\ndef build_char_to_timestamp_map(words:\
          \ List[Dict]) -> Tuple[str, Dict[int, Tuple[int, int]]]:\n    \"\"\"Build\
          \ a mapping from character position to timestamps.\"\"\"\n    original_text\
          \ = \"\"\n    char_to_timestamp = {}\n    char_index = 0\n    \n    for\
          \ word in words:\n        word_text = word.get('text', '')\n        start_ms\
          \ = word.get('start', 0)\n        end_ms = word.get('end', 0)\n        \n\
          \        for char in word_text:\n            char_to_timestamp[char_index]\
          \ = (start_ms, end_ms)\n            original_text += char\n            char_index\
          \ += 1\n    \n    return original_text, char_to_timestamp\n\n\ndef find_best_match(sentence:\
          \ str, original_text: str, search_start: int = 0) -> Tuple[int, float]:\n\
          \    \"\"\"Find the best matching position for a sentence.\"\"\"\n    sentence\
          \ = sentence.strip()\n    if not sentence:\n        return search_start,\
          \ 0.0\n    \n    # Try exact match first\n    exact_pos = original_text.find(sentence,\
          \ search_start)\n    if exact_pos != -1:\n        return exact_pos, 1.0\n\
          \    \n    # Fuzzy matching with sliding window\n    best_pos = search_start\n\
          \    best_score = 0.0\n    window_size = len(sentence) * 2\n    \n    search_end\
          \ = min(search_start + window_size, len(original_text))\n    search_text\
          \ = original_text[search_start:search_end]\n    \n    matcher = SequenceMatcher(None,\
          \ sentence, search_text)\n    match = matcher.find_longest_match(0, len(sentence),\
          \ 0, len(search_text))\n    \n    if match.size > 0:\n        similarity\
          \ = match.size / max(len(sentence), len(search_text))\n        if similarity\
          \ > best_score:\n            best_score = similarity\n            best_pos\
          \ = search_start + match.b\n    \n    # If no good match, try sliding window\n\
          \    if best_score < 0.5:\n        for i in range(search_start, min(len(original_text)\
          \ - len(sentence) + 1, search_start + window_size * 2)):\n            window\
          \ = original_text[i:i + len(sentence) + 50]\n            matcher = SequenceMatcher(None,\
          \ sentence, window)\n            similarity = matcher.ratio()\n        \
          \    if similarity > best_score:\n                best_score = similarity\n\
          \                best_pos = i\n                if similarity > 0.8:\n  \
          \                  break\n    \n    return best_pos, best_score\n\n\ndef\
          \ align_characters(sentence: str, original_text: str, start_pos: int) ->\
          \ Dict[int, int]:\n    \"\"\"Align characters between sentence and original\
          \ text.\"\"\"\n    alignment = {}\n    sentence_idx = 0\n    original_idx\
          \ = start_pos\n    \n    segment = original_text[start_pos:start_pos + len(sentence)\
          \ * 2]\n    matcher = SequenceMatcher(None, sentence, segment)\n    \n \
          \   for tag, i1, i2, j1, j2 in matcher.get_opcodes():\n        if tag ==\
          \ 'equal':\n            for k in range(i2 - i1):\n                alignment[sentence_idx\
          \ + k] = original_idx + j1 + k\n            sentence_idx += (i2 - i1)\n\
          \            original_idx += (j2 - j1)\n        elif tag == 'replace':\n\
          \            for k in range(i2 - i1):\n                if j1 + k < j2:\n\
          \                    alignment[sentence_idx + k] = original_idx + j1 + k\n\
          \                else:\n                    alignment[sentence_idx + k]\
          \ = original_idx + j2 - 1\n            sentence_idx += (i2 - i1)\n     \
          \       original_idx += (j2 - j1)\n        elif tag == 'delete':\n     \
          \       sentence_idx += (i2 - i1)\n        elif tag == 'insert':\n     \
          \       for k in range(i2 - i1):\n                alignment[sentence_idx\
          \ + k] = original_idx + j1\n            sentence_idx += (i2 - i1)\n    \
          \        original_idx += (j2 - j1)\n    \n    return alignment\n\n\ndef\
          \ match_sentence_to_timestamps(\n    sentence: str,\n    original_text:\
          \ str,\n    char_to_timestamp: Dict[int, Tuple[int, int]],\n    search_start:\
          \ int = 0\n) -> Tuple[Optional[int], Optional[int], float]:\n    \"\"\"\
          Match a sentence to start and end timestamps.\"\"\"\n    sentence = sentence.strip()\n\
          \    if not sentence:\n        return None, None, 0.0\n    \n    best_pos,\
          \ similarity = find_best_match(sentence, original_text, search_start)\n\
          \    \n    if similarity < 0.3:\n        return None, None, similarity\n\
          \    \n    alignment = align_characters(sentence, original_text, best_pos)\n\
          \    \n    if not alignment:\n        return None, None, similarity\n  \
          \  \n    first_char_pos = min(alignment.values())\n    last_char_pos = max(alignment.values())\n\
          \    \n    start_ms = char_to_timestamp.get(first_char_pos, (0, 0))[0]\n\
          \    end_ms = char_to_timestamp.get(last_char_pos, (0, 0))[1]\n    \n  \
          \  return start_ms, end_ms, similarity\n\n\ndef main(sentence_output: dict,\
          \ words: Union[str, List]) -> dict:\n    \"\"\"\n    Main function to match\
          \ sentences to timestamps.\n    \n    Args:\n        sentence_output: Structured\
          \ output from sentence_splitter_node with 'sentences' array\n        words:\
          \ JSON string of words array from start_node.words\n    \n    Returns:\n\
          \        Dictionary with 'sentences' array, each containing text, start,\
          \ end, confidence\n    \"\"\"\n    # Parse inputs\n    sentences = sentence_output.get('sentences',\
          \ []) if sentence_output else []\n    \n    # Parse words from JSON string\
          \ if needed\n    if isinstance(words, str):\n        try:\n            words\
          \ = json.loads(words)\n        except:\n            words = []\n    else:\n\
          \        words = words if isinstance(words, list) else []\n    \n    if\
          \ not sentences or not words:\n        return {\"sentences\": []}\n    \n\
          \    # Build character-to-timestamp mapping\n    original_text, char_to_timestamp\
          \ = build_char_to_timestamp_map(words)\n    \n    # Match each sentence\
          \ to timestamps\n    results = []\n    search_start = 0\n    \n    for sentence\
          \ in sentences:\n        start_ms, end_ms, confidence = match_sentence_to_timestamps(\n\
          \            sentence, original_text, char_to_timestamp, search_start\n\
          \        )\n        \n        result = {\n            \"text\": sentence,\n\
          \            \"start\": start_ms,\n            \"end\": end_ms,\n      \
          \      \"confidence\": confidence\n        }\n        results.append(result)\n\
          \        \n        # Update search_start for sequential matching\n     \
          \   if end_ms is not None:\n            for char_idx, (start_ts, end_ts)\
          \ in char_to_timestamp.items():\n                if end_ts >= end_ms:\n\
          \                    search_start = char_idx + 1\n                    break\n\
          \    \n    return {\"sentences\": results}\n"
        code_language: python3
        desc: Match sentences to timestamps using fuzzy character alignment algorithm
        outputs:
          sentences:
            children: null
            type: array[object]
        selected: false
        title: Timestamp Matching
        type: code
        variables:
        - value_selector:
          - sentence_splitter_node
          - structured_output
          value_type: object
          variable: sentence_output
        - value_selector:
          - start_node
          - words
          value_type: string
          variable: words
      height: 95
      id: timestamp_matching_node
      position:
        x: 602.6929186812702
        y: 245
      positionAbsolute:
        x: 602.6929186812702
        y: 245
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gemini-3-flash-preview
          provider: langgenius/gemini/google
        prompt_template:
        - id: extractor-system
          role: system
          text: 'You are a financial news extraction agent analyzing podcast transcripts.


            Your task:

            1. Identify discrete market-moving events from the transcript

            2. Extract only the title and context for each event

            3. Focus on financial and market-relevant content only


            Rules:

            - Extract ONLY financial/market events - discard non-financial content

            - Title should be a short, descriptive title of the financial or market
            event

            - Context should contain all raw text from the transcript related to this
            event

            - Never invent facts not present in the transcript

            - Preserve exact wording from the transcript in the context field

            - Each event should be a discrete, separate market-moving occurrence

            - Err on the side of more granular events rather than combining multiple
            events

            '
        - id: 97e66c56-f630-4892-92cd-68ca7c7dd89a
          role: user
          text: 'Analyze this transcript and extract all market-relevant events.


            Source: {{#start_node.source#}}

            Episode Title: {{#start_node.episode_title#}}


            Transcript (processed, split into sentences, and timestamped):

            {{#timestamp_matching_node.sentences#}}


            The transcript above has been split into sentences with timestamps. Extract
            the sentences and analyze them to identify market-relevant events.

            For each event, extract:

            - A short descriptive title

            - All raw text from the transcript (sentences) related to this event


            Focus only on events that would inform investment decisions or affect
            market movements.

            '
        selected: false
        structured_output:
          schema:
            properties:
              events:
                items:
                  properties:
                    context:
                      description: All raw text in the transcript related to this
                        market or financial event
                      type: string
                    title:
                      description: Short descriptive title of the financial or market
                        event
                      type: string
                  required:
                  - title
                  - context
                  type: object
                type: array
            required:
            - events
            type: object
        structured_output_enabled: true
        title: Extractor
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: extractor_node
      position:
        x: 889.0393770219052
        y: 266
      positionAbsolute:
        x: 889.0393770219052
        y: 266
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gemini-3-flash-preview
          provider: langgenius/gemini/google
        prompt_template:
        - id: writer-system
          role: system
          text: 'You are a financial writer agent generating Traditional Chinese (繁體中文)
            content for financial news articles.


            Content Guidelines:

            1. Language: ALL content MUST be in Traditional Chinese (繁體中文)

            2. Financial Focus: Include ONLY financial news, market analysis, earnings
            reports, and economic indicators

            3. Discard: Exclude celebrity gossip, political drama (unless market-impacting),
            sports, lifestyle news

            4. Professional Terminology: Use proper financial terms (e.g., "多頭", "營收",
            "股價")


            Format Requirements:

            - Use proper Markdown structure with ## for main sections, ### for subsections

            - Stock tickers: Format as [Display Name](#ticker:SYMBOL) - e.g., [台積電](#ticker:2330)

            - Tags: Format as [Tag Name](#tag:TAG_NAME) - e.g., [半導體](#tag:Semiconductor)

            - Use **bold** for emphasis, *italics* for quotes

            - Use bullet points or numbered lists for key information

            - Use blockquotes (>) for direct quotes from earnings calls or analyst
            comments


            Structure:

            - Title (H1 equivalent)

            - Executive Summary (2-3 sentences)

            - Key Events (one subsection per event)

            - Analysis and Implications

            - Conclusion


            SEO Best Practices:

            - Include primary keywords in first paragraph

            - Use semantic keywords throughout

            - Keep paragraphs concise (3-5 sentences)

            - Use proper heading hierarchy (don''t skip levels)



            Follow the tone of following example:

            節目回顧

            股癌 EP619｜2025/12 節目回顧

            節目回顧：



            當前市場的「過渡階段」分析

            族群輪動觀察

            Lemonade 與特斯拉的合作

            自我學習整理：



            ｜當前市場的「過渡階段」分析



            目前市場缺乏明確的主流題材，舊的熱點（如廠務、建廠設備）若追高容易被套牢，而新的主流尚未完全確立。



            發現自己目前的持股多元化變得較為分散，因為他會針對多個潛在新題材進行小額佈局。因為目前沒有一個主流族群的趨勢，若之後有趨勢後就會汰弱留強，便會賣出表現較弱的持股，將資金集中到強勢的主流標的上。分批佈局，策略是在市場震盪回檔時分批承接看好的標的，並根據資金水位進行調整，避免因恐懼而錯失機會。



            ｜族群輪動觀察



            目前在 AI 硬體（Infrastructure）的行情可能尚未結束，從硬體到軟體應用的過渡或許比預期來得慢。但還是會提早先佈局到軟體等等



            記憶體：根據美光財報，市場需求極度強勁，HBM、DRAM 及 NAND Flash 均處於嚴重缺貨狀態。此現象可能持續一段時間，消費性電子需求預計明年仍將疲軟，而也提到若到時候
            AI 不拉貨了，就會導致價格掉非常快，本來預期大概會到 2026 年中，但是目前看起來可能更久。



            光通訊：美股相關個股如 Lumentum 和 Coherent 保持強勢。散熱：台股散熱族群在近期再次試圖挑戰前波高點。



            ｜Lemonade 與特斯拉的合作



            Lemonade 透過串接特斯拉的 API，直接獲取車主的詳細駕駛數據（如駕駛習慣、AP 使用狀況等）。



            核心應用：利用這些精準的即時數據來計算個人化的保費，取代傳統保險業粗略的定價模型。Lemonade 鎖定特斯拉在後勤維修與出險處理效率上可能存在的痛點，結合其數據驅動的精準定價與自身在保險後勤方面的專業，形成差異化競爭力。



            向上銷售（Upsell）：在成功吸引車險客戶後，利用已建立的數據和信任關係，捆綁銷售其他保險產品（如住宅險、旅遊險），創造額外價值。



            AI 驅動保險模式：即時個人化行為數據 (Real-time personalized behavioral data)，駕駛習慣、煞車模式、行車時間、是否使用自駕（AP）等動態行為，保費直接反映個人風險，更為合理，而這種方式固定成本高（軟體開發），但營運槓桿效應顯著，邊際成本低。而以前傳統的方式為變動成本高（依賴大量保險從業人員）。



            若 AI 來訂保險這麼好，為何大型保險業者沒有做相關保險？



            相信一定還是有在推動，但可能有下列的阻力造成推動慢，可能會被新創公司超車



            內部利益阻力：新技術可能威脅到既有員工（如核保人員、業務員）的工作，導致他們在內部會議中消極抵制或誇大新技術的缺陷。

            遺留系統包袱：大型企業的後台數據系統通常老舊、格式繁雜且分散（如 IBM Mainframe），整合與遷移這些數據需要巨大的時間與金錢成本。

            決策猶豫：面對高昂的改革成本與不確定的未來，管理層可能採取觀望態度，從而錯失轉型的黃金時機。這在手機（Nokia）、影視（Netflix）等產業已有諸多先例

            也強調，此番分析僅為個人研究與觀察分享，不構成任何投資建議。他本人並未持有 Lemonade 的股票。平常就會不斷地去開發新的股票，這種研究常常也只有研究
            10 多個最後只會投入一個而已。需要有很好的數字和風險報酬比才會決定投入


            '
        - id: c0070a0c-772e-40df-b1ef-5f0f2b5e6f1c
          role: user
          text: "Generate a Traditional Chinese financial news article from the following\
            \ extracted events:\n\nEvents:\n{{#extractor_node.structured_output#}}\n\
            \nSource: {{#start_node.source#}}\nEpisode Title: {{#start_node.episode_title#}}\n\
            \nRequirements:\n- Language: Traditional Chinese (繁體中文)\n- Target length:\
            \ 800-1000 words\n- Tone: Professional, investor-facing\n- Include stock\
            \ ticker links where companies are mentioned using format [Display Name](#ticker:SYMBOL)\n\
            - Include topic tags where relevant using format [Tag Name](#tag:TAG_NAME)\n\
            - Focus ONLY on financial/market content\n\nOutput a structured JSON object\
            \ with the following fields:\n- title: Article title in Traditional Chinese\n\
            - executive_summary: 2-3 sentence summary in Traditional Chinese\n- sections:\
            \ Array of section objects, each with:\n  - heading: Section heading (H2\
            \ level)\n  - content: Section content in Markdown format with proper\
            \ formatting\n  - subsections: Optional array of subsection objects with\
            \ heading and content\n- conclusion: Conclusion paragraph in Traditional\
            \ Chinese\n- stock_tickers: Array of stock ticker objects with display_name\
            \ and symbol\n- tags: Array of tag objects with display_name and tag_name\n"
        selected: false
        structured_output:
          schema:
            properties:
              conclusion:
                description: Conclusion paragraph in Traditional Chinese
                type: string
              executive_summary:
                description: 2-3 sentence executive summary in Traditional Chinese
                type: string
              sections:
                items:
                  properties:
                    content:
                      description: Section content in Markdown format
                      type: string
                    heading:
                      description: Section heading (H2 level)
                      type: string
                    subsections:
                      items:
                        properties:
                          content:
                            description: Subsection content in Markdown format
                            type: string
                          heading:
                            description: Subsection heading (H3 level)
                            type: string
                        required:
                        - heading
                        - content
                        type: object
                      type: array
                  required:
                  - heading
                  - content
                  type: object
                type: array
              stock_tickers:
                items:
                  properties:
                    display_name:
                      type: string
                    symbol:
                      type: string
                  required:
                  - display_name
                  - symbol
                  type: object
                type: array
              tags:
                items:
                  properties:
                    display_name:
                      type: string
                    tag_name:
                      type: string
                  required:
                  - display_name
                  - tag_name
                  type: object
                type: array
              title:
                description: Article title in Traditional Chinese
                type: string
            required:
            - title
            - executive_summary
            - sections
            - conclusion
            type: object
        structured_output_enabled: true
        title: Writer
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: writer_node
      position:
        x: 1205.992271950449
        y: 266
      positionAbsolute:
        x: 1205.992271950449
        y: 266
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(writer_output: dict) -> dict:\n    # Initialize\
          \ markdown content\n    markdown_parts = []\n\n    # Add title (H1)\n  \
          \  if writer_output and 'title' in writer_output and writer_output['title']:\n\
          \        markdown_parts.append(f\"# {writer_output['title']}\\n\")\n\n \
          \   # Add executive summary\n    if writer_output and 'executive_summary'\
          \ in writer_output and writer_output['executive_summary']:\n        markdown_parts.append(f\"\
          {writer_output['executive_summary']}\\n\")\n\n    # Process sections\n \
          \   if writer_output and 'sections' in writer_output and isinstance(writer_output['sections'],\
          \ list):\n        for section in writer_output['sections']:\n          \
          \  # Add section heading (H2)\n            if 'heading' in section:\n  \
          \              markdown_parts.append(f\"## {section['heading']}\\n\")\n\
          \            \n            # Add section content\n            if 'content'\
          \ in section and section['content']:\n                markdown_parts.append(f\"\
          {section['content']}\\n\")\n            \n            # Process subsections\n\
          \            if 'subsections' in section and isinstance(section['subsections'],\
          \ list):\n                for subsection in section['subsections']:\n  \
          \                  # Add subsection heading (H3)\n                    if\
          \ 'heading' in subsection:\n                        markdown_parts.append(f\"\
          ### {subsection['heading']}\\n\")\n                    \n              \
          \      # Add subsection content\n                    if 'content' in subsection\
          \ and subsection['content']:\n                        markdown_parts.append(f\"\
          {subsection['content']}\\n\")\n\n    # Add conclusion\n    if writer_output\
          \ and 'conclusion' in writer_output and writer_output['conclusion']:\n \
          \       markdown_parts.append(f\"## 結論\\n\\n{writer_output['conclusion']}\\\
          n\")\n\n    # Join all parts\n    markdown_output = \"\\n\".join(markdown_parts)\n\
          \n    # Return the result as a dictionary\n    return {\n        \"result\"\
          : markdown_output\n    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Markdown Transform
        type: code
        variables:
        - value_selector:
          - writer_node
          - structured_output
          value_type: object
          variable: writer_output
      height: 51
      id: markdown_transform_node
      position:
        x: 1508.8171105177437
        y: 266
      positionAbsolute:
        x: 1508.8171105177437
        y: 266
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs:
        - value_selector:
          - markdown_transform_node
          - result
          value_type: string
          variable: markdown_report
        selected: false
        title: End
        type: end
      height: 88
      id: end_node
      position:
        x: 1785.788397565523
        y: 266
      positionAbsolute:
        x: 1785.788397565523
        y: 266
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 49.13128879428609
      y: 76.13192869806527
      zoom: 0.8509469185846033
  rag_pipeline_variables: []
