pipelines/docs/legacy/dify_config/_legacy/260117_tick_recom_marp.yml
app:
  description: Simplified Content-Builder transcript analysis pipeline with Extractor
    and Writer nodes
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Content-Builder Pipeline (Simplified)
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.2@6e53b92877de2507ce83f2fc32ddf54a9662e4b5ef9e7e5d17bd18153a6485da
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: start-to-extractor
      selected: false
      source: start_node
      sourceHandle: source
      target: extractor_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: extractor-to-clusterer
      source: extractor_node
      sourceHandle: source
      target: sentence_clusterer_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: extractor-to-events-markdown
      source: extractor_node
      sourceHandle: source
      target: events_to_markdown_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: clusterer-to-writer
      source: sentence_clusterer_node
      sourceHandle: source
      target: writer_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: writer-to-markdown_transform
      source: writer_node
      sourceHandle: source
      target: markdown_transform_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: markdown_transform-to-end
      source: markdown_transform_node
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: events-markdown-to-end
      source: events_to_markdown_node
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: clusterer-to-ticker-extractor
      source: sentence_clusterer_node
      sourceHandle: source
      target: ticker_recommendations_extractor
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: ticker-extractor-to-marp-writer-ticker
      source: ticker_recommendations_extractor
      sourceHandle: source
      target: marp_writer_ticker_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: marp-writer-ticker-to-converter
      source: marp_writer_ticker_node
      sourceHandle: source
      target: marp_converter_ticker_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: marp-converter-ticker-to-end
      source: marp_converter_ticker_node
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: ticker-extractor-to-end
      source: ticker_recommendations_extractor
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: transcript
          max_length: null
          options: []
          required: true
          type: text-input
          variable: transcript
        - label: source
          max_length: null
          options: []
          required: false
          type: text-input
          variable: source
        - label: episode_title
          max_length: null
          options: []
          required: false
          type: text-input
          variable: episode_title
        - default: ''
          hint: ''
          label: sentences
          max_length: null
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: sentences
      height: 186
      id: start_node
      position:
        x: -123.9999410677629
        y: 239.7435393830164
      positionAbsolute:
        x: -123.9999410677629
        y: 239.7435393830164
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gemini-3-flash-preview
          provider: langgenius/gemini/google
        prompt_template:
        - id: extractor-system
          role: system
          text: 'You are an event extraction agent analyzing podcast transcripts that
            have been segmented into sentences.


            Your task:

            1. Analyze the sentences array and identify all distinct topics/sections
            discussed

            2. For each topic, identify the range of sentence indices (start_index
            to end_index) that cover that topic

            3. Extract ALL topics discussed, including both financial and non-financial
            content (e.g., "業配營養品", "分享去德國玩的心得", "台積電目前情況", "AI 記憶體/散熱供應鏈")


            Rules:

            - Identify all topics discussed in the transcript, not just financial
            ones

            - Each topic should be a discrete section with a clear theme

            - section_topic should be a descriptive topic name in Traditional Chinese

            - start_index and end_index should be the sentence indices (0-based) that
            cover this topic

            - The ranges should cover ALL sentences with no gaps - every sentence
            index should be included in at least one event

            - Ranges can overlap if a sentence discusses multiple topics

            - Err on the side of more granular topics rather than combining multiple
            distinct topics

            - Never invent facts not present in the transcript

            '
        - id: 97e66c56-f630-4892-92cd-68ca7c7dd89a
          role: user
          text: 'Analyze the sentences array and extract all topics/sections discussed.


            Source: {{#start_node.source#}}

            Episode Title: {{#start_node.episode_title#}}


            Sentences Array:

            {{#start_node.sentences#}}


            For each topic/section, identify:

            - start_index: The starting sentence index (0-based) for this topic

            - end_index: The ending sentence index (inclusive) for this topic

            - section_topic: A descriptive topic name in Traditional Chinese (e.g.,
            "業配營養品", "台積電目前情況，以及股癌針對目前狀況的投資策略", "AI 記憶體/散熱供應鏈 目前狀況")


            Ensure that all sentence indices are covered by at least one event. Topics
            can include both financial and non-financial content.

            '
        selected: false
        structured_output:
          schema:
            properties:
              events:
                items:
                  properties:
                    end_index:
                      description: Ending sentence index (inclusive) for this topic
                      type: integer
                    section_topic:
                      description: Descriptive topic name in Traditional Chinese
                      type: string
                    start_index:
                      description: Starting sentence index (0-based) for this topic
                      type: integer
                  required:
                  - start_index
                  - end_index
                  - section_topic
                  type: object
                type: array
            required:
            - events
            type: object
        structured_output_enabled: true
        title: Event_extractor
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: extractor_node
      position:
        x: 157.3385256768819
        y: 260.7435393830164
      positionAbsolute:
        x: 157.3385256768819
        y: 260.7435393830164
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(event_extractor_output: dict, sentences: str)\
          \ -> dict:\n    # Parse sentences JSON string\n    try:\n        sentences_list\
          \ = json.loads(sentences) if isinstance(sentences, str) else sentences\n\
          \    except (json.JSONDecodeError, TypeError):\n        sentences_list =\
          \ []\n    \n    # Parse event extractor output\n    if not event_extractor_output\
          \ or 'events' not in event_extractor_output:\n        return {'events_markdown':\
          \ '# Events List\\n\\nNo events found.'}\n    \n    events = event_extractor_output.get('events',\
          \ [])\n    \n    # Build markdown content\n    markdown_parts = ['# Events\
          \ List', '']\n    \n    for event in events:\n        start_index = event.get('start_index',\
          \ 0)\n        end_index = event.get('end_index', 0)\n        section_topic\
          \ = event.get('section_topic', 'Untitled Event')\n        \n        # Get\
          \ start time from sentences array using start_index\n        start_time\
          \ = None\n        if start_index < len(sentences_list):\n            sentence\
          \ = sentences_list[start_index]\n            if 'start' in sentence:\n \
          \               start_time = sentence.get('start')\n        \n        #\
          \ Format event entry with H2 heading and time tag (matching summary markdown\
          \ format)\n        if start_time is not None:\n            markdown_parts.append(f'##\
          \ {section_topic} (#time:{start_time})')\n        else:\n            markdown_parts.append(f'##\
          \ {section_topic}')\n        markdown_parts.append(f'  - Indices: {start_index}-{end_index}')\n\
          \        markdown_parts.append('')\n    \n    # Join all parts\n    events_markdown\
          \ = '\\n'.join(markdown_parts)\n    \n    return {'events_markdown': events_markdown}"
        code_language: python3
        desc: ''
        outputs:
          events_markdown:
            children: null
            type: string
        selected: false
        title: Events to Markdown
        type: code
        variables:
        - value_selector:
          - extractor_node
          - structured_output
          value_type: object
          variable: event_extractor_output
        - value_selector:
          - start_node
          - sentences
          value_type: string
          variable: sentences
      height: 51
      id: events_to_markdown_node
      position:
        x: 750.4478642893494
        y: 128.01790880418105
      positionAbsolute:
        x: 750.4478642893494
        y: 128.01790880418105
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(event_extractor_output: dict, sentences: str)\
          \ -> dict:\n    # Parse sentences JSON string\n    try:\n        sentences_list\
          \ = json.loads(sentences) if isinstance(sentences, str) else sentences\n\
          \    except (json.JSONDecodeError, TypeError):\n        sentences_list =\
          \ []\n    \n    # Parse event extractor output\n    if not event_extractor_output\
          \ or 'events' not in event_extractor_output:\n        return {'events':\
          \ []}\n    \n    events = event_extractor_output.get('events', [])\n   \
          \ \n    # Financial/market keywords to filter events\n    financial_keywords\
          \ = [\n        '台積電', 'TSMC', '股價', '股票', '投資', '市場', '財經', '營收', '獲利',\n\
          \        '半導體', 'AI', '記憶體', '散熱', '供應鏈', '多頭', '空頭', '買進', '賣出',\n    \
          \    '財報', '季報', '年報', 'EPS', '本益比', '殖利率', '股息', '股利',\n        '指數', '大盤',\
          \ '個股', 'ETF', '基金', '債券', '匯率', '利率',\n        '經濟', 'GDP', '通膨', '通縮',\
          \ '央行', '聯準會', 'FED',\n        '科技股', '金融股', '傳產', '電子', '傳產股', '金融',\n\
          \        '策略', '分析', '預測', '展望', '趨勢', '行情'\n    ]\n    \n    clustered_events\
          \ = []\n    \n    for event in events:\n        start_index = event.get('start_index',\
          \ 0)\n        end_index = event.get('end_index', 0)\n        section_topic\
          \ = event.get('section_topic', '')\n        \n        # Filter for financial/market-relevant\
          \ topics\n        is_financial = any(keyword in section_topic for keyword\
          \ in financial_keywords)\n        \n        if not is_financial:\n     \
          \       continue\n        \n        # Collect sentences in the range [start_index,\
          \ end_index]\n        event_sentences = []\n        start_time = None\n\
          \        end_time = None\n        \n        for i in range(start_index,\
          \ end_index + 1):\n            if i < len(sentences_list):\n           \
          \     sentence = sentences_list[i]\n                event_sentences.append(sentence)\n\
          \                \n                # Get start time from first sentence\n\
          \                if start_time is None and 'start' in sentence:\n      \
          \              start_time = sentence.get('start')\n                \n  \
          \              # Update end time from last sentence\n                if\
          \ 'end' in sentence:\n                    end_time = sentence.get('end')\n\
          \        \n        # Only add event if we have sentences and times\n   \
          \     if event_sentences and start_time is not None and end_time is not\
          \ None:\n            clustered_events.append({\n                'section_topic':\
          \ section_topic,\n                'sentences': event_sentences,\n      \
          \          'start': start_time,\n                'end': end_time\n     \
          \       })\n    \n    return {'events': clustered_events}"
        code_language: python3
        desc: ''
        outputs:
          events:
            children: null
            type: array[object]
        selected: false
        title: Sentence Clusterer
        type: code
        variables:
        - value_selector:
          - extractor_node
          - structured_output
          value_type: object
          variable: event_extractor_output
        - value_selector:
          - start_node
          - sentences
          value_type: string
          variable: sentences
      height: 51
      id: sentence_clusterer_node
      position:
        x: 445.99242050717874
        y: 299.6555055823876
      positionAbsolute:
        x: 445.99242050717874
        y: 299.6555055823876
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gemini-3-flash-preview
          provider: langgenius/gemini/google
        prompt_template:
        - id: writer-system
          role: system
          text: 'You are a financial writer agent generating Traditional Chinese (繁體中文)
            content for financial news articles.


            Content Guidelines:

            1. Language: ALL content MUST be in Traditional Chinese (繁體中文)

            2. Financial Focus: Include ONLY financial news, market analysis, earnings
            reports, and economic indicators

            3. Discard: Exclude celebrity gossip, political drama (unless market-impacting),
            sports, lifestyle news

            4. Professional Terminology: Use proper financial terms (e.g., "多頭", "營收",
            "股價")


            Format Requirements:

            - Use proper Markdown structure with ## for main sections, ### for subsections

            - Stock tickers: Format as [Display Name](#ticker:SYMBOL) - e.g., [台積電](#ticker:2330)

            - Tags: Format as [Tag Name](#tag:TAG_NAME) - e.g., [半導體](#tag:Semiconductor)

            - Use **bold** for emphasis, *italics* for quotes

            - Use bullet points or numbered lists for key information

            - Use blockquotes (>) for direct quotes from earnings calls or analyst
            comments


            Structure:

            - Title (H1 equivalent)

            - Executive Summary (2-3 sentences)

            - Key Events (one subsection per event)

            - Analysis and Implications

            - Conclusion


            SEO Best Practices:

            - Include primary keywords in first paragraph

            - Use semantic keywords throughout

            - Keep paragraphs concise (3-5 sentences)

            - Use proper heading hierarchy (don''t skip levels)

            '
        - id: c0070a0c-772e-40df-b1ef-5f0f2b5e6f1c
          role: user
          text: "Generate a Traditional Chinese financial news article from the following\
            \ clustered events:\n\nEvents:\n{{#sentence_clusterer_node.events#}}\n\
            \nSource: {{#start_node.source#}}\nEpisode Title: {{#start_node.episode_title#}}\n\
            \nRequirements:\n- Language: Traditional Chinese (繁體中文)\n- Target length:\
            \ 800-1000 words\n- Tone: Professional, investor-facing\n- Include stock\
            \ ticker links where companies are mentioned using format [Display Name](#ticker:SYMBOL)\n\
            - Include topic tags where relevant using format [Tag Name](#tag:TAG_NAME)\n\
            - Focus ONLY on financial/market content\n- For each event section, use\
            \ the section_topic as the heading and include the start time when available\n\
            \nOutput a structured JSON object with the following fields:\n- title:\
            \ Article title in Traditional Chinese\n- executive_summary: 2-3 sentence\
            \ summary in Traditional Chinese\n- sections: Array of section objects,\
            \ each with:\n  - heading: Section heading (H2 level) - should match the\
            \ event's section_topic\n  - content: Section content in Markdown format\
            \ with proper formatting\n  - start_time: Start time in milliseconds (from\
            \ event.start) - include this when available\n  - subsections: Optional\
            \ array of subsection objects with heading and content\n- conclusion:\
            \ Conclusion paragraph in Traditional Chinese\n- stock_tickers: Array\
            \ of stock ticker objects with display_name and symbol\n- tags: Array\
            \ of tag objects with display_name and tag_name\n"
        selected: false
        structured_output:
          schema:
            properties:
              conclusion:
                description: Conclusion paragraph in Traditional Chinese
                type: string
              executive_summary:
                description: 2-3 sentence executive summary in Traditional Chinese
                type: string
              sections:
                items:
                  properties:
                    content:
                      description: Section content in Markdown format
                      type: string
                    heading:
                      description: Section heading (H2 level)
                      type: string
                    start_time:
                      description: Start time in milliseconds (optional, include when
                        available from event)
                      type: integer
                    subsections:
                      items:
                        properties:
                          content:
                            description: Subsection content in Markdown format
                            type: string
                          heading:
                            description: Subsection heading (H3 level)
                            type: string
                        required:
                        - heading
                        - content
                        type: object
                      type: array
                  required:
                  - heading
                  - content
                  type: object
                type: array
              stock_tickers:
                items:
                  properties:
                    display_name:
                      type: string
                    symbol:
                      type: string
                  required:
                  - display_name
                  - symbol
                  type: object
                type: array
              tags:
                items:
                  properties:
                    display_name:
                      type: string
                    tag_name:
                      type: string
                  required:
                  - display_name
                  - tag_name
                  type: object
                type: array
              title:
                description: Article title in Traditional Chinese
                type: string
            required:
            - title
            - executive_summary
            - sections
            - conclusion
            type: object
        structured_output_enabled: true
        title: Writer
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: writer_node
      position:
        x: 750.4478642893494
        y: 299.6555055823876
      positionAbsolute:
        x: 750.4478642893494
        y: 299.6555055823876
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(writer_output: dict) -> dict:\n    # Initialize\
          \ markdown content\n    markdown_parts = []\n\n    # Add title (H1)\n  \
          \  if writer_output and 'title' in writer_output and writer_output['title']:\n\
          \        markdown_parts.append(f\"# {writer_output['title']}\\n\")\n\n \
          \   # Add executive summary\n    if writer_output and 'executive_summary'\
          \ in writer_output and writer_output['executive_summary']:\n        markdown_parts.append(f\"\
          {writer_output['executive_summary']}\\n\")\n\n    # Process sections\n \
          \   if writer_output and 'sections' in writer_output and isinstance(writer_output['sections'],\
          \ list):\n        for section in writer_output['sections']:\n          \
          \  # Add section heading (H2) with time stamp if available\n           \
          \ heading = section.get('heading', '')\n            start_time = section.get('start_time')\n\
          \            \n            # Add heading with timestamp\n            if\
          \ heading:\n                if start_time is not None:\n               \
          \     markdown_parts.append(f\"## {heading} (#time:{start_time})\\n\")\n\
          \                else:\n                    markdown_parts.append(f\"##\
          \ {heading}\\n\")\n            \n            # Add section content (without\
          \ heading since we added it above)\n            if 'content' in section\
          \ and section['content']:\n                # Skip content if it starts with\
          \ the same heading to avoid duplication\n                content = section['content']\n\
          \                if content.strip().startswith(f\"## {heading}\"):\n   \
          \                 # Content includes heading, skip the heading line\n  \
          \                  lines = content.split('\\n', 1)\n                   \
          \ if len(lines) > 1:\n                        markdown_parts.append(f\"\
          {lines[1]}\\n\")\n                else:\n                    markdown_parts.append(f\"\
          {content}\\n\")\n            \n            # Process subsections\n     \
          \       if 'subsections' in section and isinstance(section['subsections'],\
          \ list):\n                for subsection in section['subsections']:\n  \
          \                  # Add subsection heading (H3)\n                    if\
          \ 'heading' in subsection:\n                        markdown_parts.append(f\"\
          ### {subsection['heading']}\\n\")\n                    \n              \
          \      # Add subsection content\n                    if 'content' in subsection\
          \ and subsection['content']:\n                        markdown_parts.append(f\"\
          {subsection['content']}\\n\")\n\n    # Add conclusion\n    if writer_output\
          \ and 'conclusion' in writer_output and writer_output['conclusion']:\n \
          \       markdown_parts.append(f\"## 結論\\n\\n{writer_output['conclusion']}\\\
          n\")\n\n    # Join all parts\n    markdown_output = \"\\n\".join(markdown_parts)\n\
          \n    # Return the result as a dictionary\n    return {\n        \"result\"\
          : markdown_output\n    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Markdown Transform
        type: code
        variables:
        - value_selector:
          - writer_node
          - structured_output
          value_type: object
          variable: writer_output
      height: 51
      id: markdown_transform_node
      position:
        x: 1005.2564606169835
        y: 299.6555055823876
      positionAbsolute:
        x: 1005.2564606169835
        y: 299.6555055823876
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gemini-3-flash-preview
          provider: langgenius/gemini/google
        prompt_template:
        - id: ticker-extractor-system
          role: system
          text: 'You are a financial analysis agent extracting stock ticker recommendations
            from podcast transcript events.


            Your task:

            1. Analyze the clustered financial events from the podcast

            2. Identify all stock tickers mentioned and their associated recommendations

            3. For each ticker, extract:

            - Sentiment (BULLISH, BEARISH, NEUTRAL)

            - Sentiment score (0.0 to 1.0)

            - Time horizon (SHORT_TERM, MEDIUM_TERM, LONG_TERM)

            - BLUF thesis (bottom line up front - the main investment thesis)

            - Reasons/key drivers with their locations (start_index, end_index, start_time,
            end_time)

            - Risks with their locations (start_index, end_index, start_time, end_time)


            Rules:

            - Only extract ticker recommendations where the podcaster expresses a
            clear opinion or analysis

            - Sentiment should reflect the overall tone: BULLISH (positive outlook),
            BEARISH (negative outlook), NEUTRAL (mixed or no clear direction)

            - Sentiment score: 0.0-0.3 (strongly bearish), 0.3-0.45 (bearish), 0.45-0.55
            (neutral), 0.55-0.7 (bullish), 0.7-1.0 (strongly bullish)

            - Time horizon should match the investment timeframe discussed (if not
            explicitly stated, infer from context)

            - For reasons and risks, use the sentence indices and timestamps from
            the events where they were mentioned

            - Be precise with the bluf_thesis - it should capture the essence of the
            recommendation in one sentence

            - Category for reasons: MACRO, MOAT, OPERATIONAL, DEMAND, SUPPLY, VALUATION,
            TECHNICAL, FUNDAMENTAL

            - Severity for risks: LOW, MEDIUM, HIGH, CRITICAL

            '
        - id: ticker-extractor-user
          role: user
          text: 'Analyze the financial events and extract all stock ticker recommendations.


            Events:

            {{#sentence_clusterer_node.events#}}


            Source: {{#start_node.source#}}

            Episode Title: {{#start_node.episode_title#}}


            Extract ticker recommendations following the structured output schema.
            Include meta information (episode_id from source, publication_date, podcaster
            name) and a comprehensive list of ticker_recommendations with all reasons
            and risks properly indexed with their sentence locations and timestamps.

            '
        selected: false
        structured_output:
          schema:
            properties:
              meta:
                properties:
                  episode_id:
                    description: Unique identifier for the podcast episode
                    type: string
                  podcaster:
                    description: Name of the podcast
                    type: string
                  publication_date:
                    description: ISO 8601 formatted publication date
                    type: string
                required:
                - episode_id
                - publication_date
                - podcaster
                type: object
              ticker_recommendations:
                items:
                  properties:
                    bluf_thesis:
                      description: Bottom line up front thesis for this ticker recommendation
                      type: string
                    price_target:
                      description: Optional price target
                      type: number
                    reasons:
                      items:
                        properties:
                          category:
                            description: Category of the reason (e.g., MACRO, MOAT,
                              OPERATIONAL, DEMAND)
                            type: string
                          description:
                            description: Detailed description of the reason
                            type: string
                          end_index:
                            description: Ending sentence index (inclusive) where podcaster
                              mentioned this reason
                            type: integer
                          end_time:
                            description: End time in milliseconds where podcaster
                              mentioned this reason
                            type: integer
                          start_index:
                            description: Starting sentence index (0-based) where podcaster
                              mentioned this reason
                            type: integer
                          start_time:
                            description: Start time in milliseconds where podcaster
                              mentioned this reason
                            type: integer
                          title:
                            description: Title of the reason/key driver
                            type: string
                        required:
                        - title
                        - description
                        - category
                        - start_index
                        - end_index
                        - start_time
                        - end_time
                        type: object
                      type: array
                    risks:
                      items:
                        properties:
                          description:
                            description: Detailed description of the risk
                            type: string
                          end_index:
                            description: Ending sentence index (inclusive) where podcaster
                              mentioned this risk
                            type: integer
                          end_time:
                            description: End time in milliseconds where podcaster
                              mentioned this risk
                            type: integer
                          severity:
                            description: Risk severity (LOW, MEDIUM, HIGH, CRITICAL)
                            type: string
                          start_index:
                            description: Starting sentence index (0-based) where podcaster
                              mentioned this risk
                            type: integer
                          start_time:
                            description: Start time in milliseconds where podcaster
                              mentioned this risk
                            type: integer
                          title:
                            description: Title of the risk
                            type: string
                        required:
                        - title
                        - description
                        - severity
                        - start_index
                        - end_index
                        - start_time
                        - end_time
                        type: object
                      type: array
                    sentiment:
                      description: Sentiment classification (BULLISH, BEARISH, NEUTRAL)
                      type: string
                    sentiment_score:
                      description: Sentiment score between 0.0 and 1.0
                      type: number
                    ticker:
                      description: Stock ticker symbol
                      type: string
                    time_horizon:
                      description: Investment time horizon (SHORT_TERM, MEDIUM_TERM,
                        LONG_TERM)
                      type: string
                  required:
                  - ticker
                  - sentiment
                  - sentiment_score
                  - bluf_thesis
                  - reasons
                  type: object
                type: array
            required:
            - meta
            - ticker_recommendations
            type: object
        structured_output_enabled: true
        title: Ticker_Recommendations_Extractor
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: ticker_recommendations_extractor
      position:
        x: 745.9940303986066
        y: 571.3067128062806
      positionAbsolute:
        x: 745.9940303986066
        y: 571.3067128062806
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gemini-3-flash-preview
          provider: langgenius/gemini/google
        prompt_template:
        - id: marp-writer-ticker-system
          role: system
          text: 'You are a professional financial presentation designer creating stock
            ticker recommendation slides in Traditional Chinese (繁體中文).


            **IMPORTANT: Slides are in SQUARE format (1080x1080). Design content for
            a 1:1 aspect ratio.**


            Your task: Create a presentation summarizing stock ticker recommendations
            from a podcast episode. You MUST strictly follow the CSS styling and HTML
            structure provided below.


            ## Complete CSS Specification


            You MUST include this exact CSS in your slide content. The first slide
            should include the global base CSS and summary table CSS, and individual
            ticker slides should include the global base CSS and ticker dashboard CSS.


            **Global Base CSS (MUST be included in ALL slides):**

            ```css

            <style>

            @import url(''https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;600;700&family=Playfair+Display:wght@400;700&display=swap'');


            section {

            font-family: ''Noto Sans TC'', sans-serif;

            padding: 50px 60px !important;

            background: linear-gradient(to bottom, #f8f9fa 0%, #ffffff 100%);

            color: #2c3e50;

            }


            section:first-of-type {

            background: linear-gradient(135deg, #e8f4f8 0%, #d1e7dd 100%);

            display: flex;

            flex-direction: column;

            justify-content: center;

            align-items: center;

            text-align: center;

            }


            h1 {

            font-family: ''Playfair Display'', serif;

            font-size: 3.5em !important;

            font-weight: 700 !important;

            margin: 0.3em 0 !important;

            color: #1a365d;

            letter-spacing: -0.5px;

            }


            h2 {

            font-family: ''Playfair Display'', serif;

            font-size: 2.5em !important;

            font-weight: 700 !important;

            margin: 0.5em 0 !important;

            color: #2d3748;

            border-bottom: 3px solid #cbd5e0;

            padding-bottom: 15px;

            }


            h3 {

            font-size: 1.8em !important;

            font-weight: 600 !important;

            margin: 0.5em 0 !important;

            color: #4a5568;

            }


            ul, ol {

            margin: 1.2rem 0 !important;

            padding-left: 1.8rem !important;

            }


            li {

            margin: 0.8rem 0 !important;

            font-size: 1.15em !important;

            line-height: 1.7 !important;

            color: #4a5568;

            }


            strong {

            font-weight: 600 !important;

            color: #2d3748;

            }

            </style>

            ```


            **Summary Table Slide CSS:**

            ```css

            <style>

            section {

            background: linear-gradient(to bottom, #ffffff 0%, #f7fafc 100%);

            }


            h1 {

            font-size: 2em !important;

            }


            table {

            width: 100%;

            border-collapse: separate;

            border-spacing: 0;

            margin-top: 30px;

            border-radius: 12px;

            overflow: hidden;

            box-shadow: 0 4px 20px rgba(0,0,0,0.08);

            border: 1px solid #e2e8f0;

            }


            th {

            background: linear-gradient(to bottom, #4a5568 0%, #2d3748 100%);

            color: #ffffff;

            padding: 18px 20px;

            text-align: left;

            font-size: 1.1em;

            font-weight: 600;

            letter-spacing: 0.5px;

            }


            td {

            padding: 16px 20px;

            background: #ffffff;

            border-bottom: 1px solid #e2e8f0;

            font-size: 1.05em;

            color: #4a5568;

            transition: background-color 0.2s ease;

            }


            tr:last-child td {

            border-bottom: none;

            }


            tr:hover td {

            background: #f7fafc;

            }


            td:first-child {

            font-weight: 600;

            color: #2d3748;

            font-size: 1.1em;

            }


            .score-elegant {

            display: inline-block;

            padding: 6px 14px;

            border-radius: 20px;

            font-weight: 600;

            font-size: 1em;

            background: linear-gradient(135deg, #48bb78 0%, #38a169 100%);

            color: #ffffff;

            box-shadow: 0 2px 8px rgba(72,187,120,0.25);

            }

            </style>

            ```


            **Ticker Dashboard Slide CSS:**

            ```css

            <style>

            section {

            background: linear-gradient(to bottom, #ffffff 0%, #f7fafc 100%);

            }


            .ticker-dashboard {

            display: grid;

            grid-template-columns: 320px 1fr;

            gap: 40px;

            height: 100%;

            }


            .sidebar {

            display: flex;

            flex-direction: column;

            gap: 20px;

            }


            .score-panel {

            background: linear-gradient(135deg, #ffffff 0%, #f7fafc 100%);

            border-radius: 16px;

            padding: 40px 30px;

            border: 2px solid #e2e8f0;

            text-align: center;

            box-shadow: 0 4px 12px rgba(0,0,0,0.05);

            }


            .score-circle-large {

            width: 200px;

            height: 200px;

            margin: 0 auto 30px;

            position: relative;

            display: flex;

            align-items: center;

            justify-content: center;

            }


            .score-ring {

            width: 100%;

            height: 100%;

            border-radius: 50%;

            border: 12px solid #e2e8f0;

            position: absolute;

            top: 0;

            left: 0;

            }


            .score-ring-85 {

            border-top-color: #48bb78;

            border-right-color: #48bb78;

            border-bottom-color: transparent;

            border-left-color: transparent;

            transform: rotate(54deg);

            }


            .score-ring-80 {

            border-top-color: #48bb78;

            border-right-color: #48bb78;

            border-bottom-color: transparent;

            border-left-color: transparent;

            transform: rotate(72deg);

            }


            .score-ring-75 {

            border-top-color: #48bb78;

            border-right-color: #48bb78;

            border-bottom-color: transparent;

            border-left-color: transparent;

            transform: rotate(0deg);

            }


            .score-ring-70 {

            border-top-color: #48bb78;

            border-right-color: #48bb78;

            border-bottom-color: transparent;

            border-left-color: transparent;

            transform: rotate(-36deg);

            }


            .score-ring-65 {

            border-top-color: #48bb78;

            border-right-color: #48bb78;

            border-bottom-color: transparent;

            border-left-color: transparent;

            transform: rotate(-54deg);

            }


            .score-inner {

            width: 160px;

            height: 160px;

            border-radius: 50%;

            background: linear-gradient(135deg, #f0fff4 0%, #e6fffa 100%);

            display: flex;

            flex-direction: column;

            align-items: center;

            justify-content: center;

            z-index: 1;

            position: relative;

            border: 2px solid #cbd5e0;

            }


            .score-main {

            font-size: 3.5em;

            font-weight: 300;

            color: #48bb78;

            line-height: 1;

            font-family: ''Playfair Display'', serif;

            }


            .score-label {

            font-size: 0.9em;

            color: #718096;

            text-transform: uppercase;

            letter-spacing: 1px;

            margin-top: 8px;

            font-weight: 500;

            }


            .sentiment-badge {

            display: inline-block;

            padding: 12px 24px;

            background: linear-gradient(135deg, #48bb78 0%, #38a169 100%);

            color: #ffffff;

            border-radius: 20px;

            font-weight: 600;

            font-size: 1.1em;

            margin: 15px 0;

            box-shadow: 0 2px 8px rgba(72,187,120,0.25);

            }


            .timeframe-badge {

            display: inline-block;

            padding: 10px 20px;

            background: linear-gradient(135deg, #edf2f7 0%, #e2e8f0 100%);

            color: #4a5568;

            border-radius: 16px;

            font-weight: 500;

            font-size: 0.95em;

            border: 1px solid #cbd5e0;

            margin-top: 10px;

            }


            .content-panel {

            display: flex;

            flex-direction: column;

            gap: 3px;

            }


            .bluf-card {

            background: linear-gradient(135deg, #f0fff4 0%, #e6fffa 100%);

            border-radius: 12px;

            padding: 3px;

            border-left: 4px solid #48bb78;

            box-shadow: 0 2px 8px rgba(0,0,0,0.04);

            margin-bottom: 1px;

            }


            .bluf-header {

            font-size: 0.7em;

            text-transform: uppercase;

            letter-spacing: 1.5px;

            color: #48bb78;

            font-weight: 600;

            margin-bottom: 2px;

            }


            .bluf-text {

            font-size: 0.55em;

            line-height: 2;

            color: #2d3748;

            font-weight: 400;

            }


            .reasons-grid {

            display: grid;

            gap: 3px;

            }


            .reason-card {

            background: #ffffff;

            border-radius: 1px;

            padding: 2px 3px;

            border-left: 3px solid #48bb78;

            box-shadow: 0 2px 6px rgba(0,0,0,0.04);

            transition: all 0.2s ease;

            }


            .reason-card:hover {

            transform: translateX(3px);

            box-shadow: 0 1px 1px rgba(0,0,0,0.08);

            border-left-color: #38a169;

            }


            .reason-title {

            font-size: 0.7em;

            font-weight: 600;

            color: #2d3748;

            margin-bottom: 0.1px;

            display: flex;

            align-items: center;

            gap: 0.1px;

            }


            .reason-desc {

            font-size: 0.55em;

            color: #4a5568;

            line-height: 1.8;

            margin-top: 0;

            }


            .risks-grid {

            display: grid;

            gap: 2px;

            }


            .risk-card {

            background: #ffffff;

            border-radius: 1px;

            padding: 2px 3px;

            box-shadow: 0 2px 6px rgba(0,0,0,0.04);

            transition: all 0.2s ease;

            }


            .risk-card:hover {

            transform: translateX(3px);

            box-shadow: 0 4px 12px rgba(0,0,0,0.08);

            }


            .risk-medium {

            border-left: 3px solid #ed8936;

            background: linear-gradient(to right, #fffaf0 0%, #ffffff 100%);

            }


            .risk-high {

            border-left: 3px solid #fc8181;

            background: linear-gradient(to right, #fff5f5 0%, #ffffff 100%);

            }


            .risk-low {

            border-left: 3px solid #f6e05e;

            background: linear-gradient(to right, #fffbeb 0%, #ffffff 100%);

            }


            .risk-title {

            font-size: 0.7em;

            font-weight: 600;

            margin-bottom: 0.1px;

            display: flex;

            align-items: center;

            gap: 0.1px;

            }


            .risk-medium .risk-title {

            color: #c05621;

            }


            .risk-high .risk-title {

            color: #c53030;

            }


            .risk-low .risk-title {

            color: #744210;

            }


            .risk-desc {

            font-size: 0.55em;

            color: #4a5568;

            line-height: 1.8;

            margin-top: 0;

            }


            .section-header {

            font-size: 0.7em;

            font-weight: 600;

            color: #2d3748;

            margin-bottom: 0.1px;

            margin-top: 0.1px;

            padding-bottom: 0.1px;

            border-bottom: 0.1px solid #e2e8f0;

            }

            </style>

            ```


            ## Exact Structure Requirements


            **First Slide - Summary Table:**

            ```

            <style>

            [Global Base CSS from above]

            [Summary Table CSS from above]

            </style>


            # [Title]


            | 標的 | 情緒 | 分數 | 週期 | 核心投資邏輯 |

            | :--- | :--- | :--- | :--- | :--- |

            | [TICKER](#ticker:TICKER) | [emoji] [sentiment] | <span class="score-elegant">[score]</span>
            | [horizon] | [brief thesis] |

            ```


            **Individual Ticker Slide Structure:**

            ```

            <style>

            [Global Base CSS from above]

            [Ticker Dashboard CSS from above]

            </style>


            # [Display Name](#ticker:SYMBOL) | SYMBOL


            <div class="ticker-dashboard">

            <div class="sidebar">

            <div class="score-panel">

            <div class="score-circle-large">

            <div class="score-ring score-ring-[score*100]"></div>

            <div class="score-inner">

            <div class="score-main">[score]</div>

            <div class="score-label">Score</div>

            </div>

            </div>

            <div class="sentiment-badge">[emoji] [sentiment_chinese]</div>

            <div class="timeframe-badge">時間維度：[horizon_chinese]</div>

            </div>

            </div>

            <div class="content-panel">

            <div class="bluf-card">

            <div class="bluf-header">核心邏輯 (BLUF)</div>

            <div class="bluf-text">[bluf_thesis]</div>

            </div>

            <div class="section-header">投資理由</div>

            <div class="reasons-grid">

            <div class="reason-card">

            <div class="reason-title">[emoji] [title]</div>

            <div class="reason-desc">[description] [#time:start_time](#time:start_time)</div>

            </div>

            </div>

            <div class="section-header">風險提示</div>

            <div class="risks-grid">

            <div class="risk-card risk-[severity]">

            <div class="risk-title">[emoji] [title] ([severity_chinese])</div>

            <div class="risk-desc">[description] [#time:start_time](#time:start_time)</div>

            </div>

            </div>

            </div>

            </div>

            ```


            ## Mapping Rules (CRITICAL - MUST FOLLOW EXACTLY)


            **Sentiment Mappings:**

            - BULLISH → Emoji: 🟢, Chinese: "看多"

            - BEARISH → Emoji: 🔴, Chinese: "看空"

            - NEUTRAL → Emoji: 🟡, Chinese: "中性"


            **Time Horizon Mappings:**

            - LONG_TERM → "長期"

            - MEDIUM_TERM → "中期"

            - SHORT_TERM → "短期"


            **Severity Mappings:**

            - LOW → CSS class: "risk-low", Emoji: 🟡, Chinese: "(低)"

            - MEDIUM → CSS class: "risk-medium", Emoji: ⚠️, Chinese: "(中)"

            - HIGH → CSS class: "risk-high", Emoji: 🔴, Chinese: "(高)"

            - CRITICAL → CSS class: "risk-high", Emoji: 🔴, Chinese: "(極高)"


            **Score Ring Class Calculation:**

            - Convert sentiment_score to integer by multiplying by 100 (e.g., 0.85
            → 85)

            - Use class name "score-ring-[integer]" (e.g., "score-ring-85")

            - Common values: score-ring-65, score-ring-70, score-ring-75, score-ring-80,
            score-ring-85


            **Reason Category Emojis (suggested):**

            - MACRO: 🌐

            - MOAT: 🏰

            - OPERATIONAL: ⚙️

            - DEMAND: 📈

            - SUPPLY: 📦

            - VALUATION: 💰

            - TECHNICAL: 📊

            - FUNDAMENTAL: 🎯


            ## Language Requirements


            - ALL content MUST be in Traditional Chinese (繁體中文)

            - Use professional financial terminology

            - Stock tickers: Format as [Display Name](#ticker:SYMBOL)

            - Time references: Format as [#time:milliseconds](#time:milliseconds)

            '
        - id: marp-writer-ticker-user
          role: user
          text: "Create a Marp presentation for the stock ticker recommendations:\n\
            \nTicker Recommendations:\n{{#ticker_recommendations_extractor.structured_output#}}\n\
            \nCRITICAL REQUIREMENTS:\n\n1. **First Slide - Summary Table**:\n   -\
            \ Include the complete Global Base CSS block FIRST, then the Summary Table\
            \ CSS block at the beginning of content field\n   - Create a markdown table\
            \ with columns: 標的 | 情緒 | 分數 | 週期 | 核心投資邏輯\n   - For each ticker\
            \ row:\n     * 標的: [TICKER](#ticker:TICKER)\n     * 情緒: Use correct emoji\
            \ (🟢 看多 for BULLISH, 🔴 看空 for BEARISH, 🟡 中性 for NEUTRAL)\n     * 分數:\
            \ <span class=\"score-elegant\">[score]</span>\n     * 週期: Map time_horizon\
            \ to Chinese (LONG_TERM→長期, MEDIUM_TERM→中期, SHORT_TERM→短期)\n     * 核心投資邏輯:\
            \ Brief thesis text\n\n2. **Individual Ticker Slides** (one per ticker):\n\
            \   - Include the complete Global Base CSS block FIRST, then the Ticker\
            \ Dashboard CSS block at the beginning of content field\n   - Use EXACT\
            \ HTML structure provided in system prompt\n   - Heading format: # [Display\
            \ Name](#ticker:SYMBOL) | SYMBOL\n   - Score ring class: Calculate as\
            \ score-ring-[score*100] (e.g., 0.85 → score-ring-85)\n   - Sentiment\
            \ badge: Map sentiment to Chinese with emoji\n   - Timeframe badge: \"時\
            間維度：[mapped_chinese]\"\n   - BLUF card: Display bluf_thesis\n   - Reasons\
            \ grid: Loop through all reasons, each in a reason-card div\n     * Include\
            \ emoji based on category (optional but recommended)\n     * Format time\
            \ link: [#time:start_time](#time:start_time)\n   - Risks grid: Loop through\
            \ all risks, each in a risk-card div\n     * Apply correct severity class:\
            \ risk-low, risk-medium, or risk-high\n     * Include severity emoji and\
            \ Chinese text in title\n     * Format time link: [#time:start_time](#time:start_time)\n\
            \n3. **CSS and Class Name Requirements**:\n   - MUST use exact class names:\
            \ ticker-dashboard, sidebar, score-panel, score-circle-large, score-ring,\
            \ score-inner, score-main, score-label, sentiment-badge, timeframe-badge,\
            \ content-panel, bluf-card, bluf-header, bluf-text, section-header, reasons-grid,\
            \ reason-card, reason-title, reason-desc, risks-grid, risk-card, risk-title,\
            \ risk-desc\n   - MUST apply severity classes to risk cards: risk-low,\
            \ risk-medium, risk-high\n   - MUST apply score-ring classes based on\
            \ score\n\n4. **Data Mapping Rules**:\n   - Sentiment: BULLISH→🟢 看多,\
            \ BEARISH→🔴 看空, NEUTRAL→🟡 中性\n   - Time Horizon: LONG_TERM→長期, MEDIUM_TERM→\
            中期, SHORT_TERM→短期\n   - Severity: LOW→risk-low/🟡/(低), MEDIUM→risk-medium/⚠\
            ️/(中), HIGH→risk-high/🔴/(高), CRITICAL→risk-high/🔴/(極高)\n\n5. **Content\
            \ Field Structure**:\n   - The content field should contain the COMPLETE\
            \ slide including:\n     * <style> CSS block with Global Base CSS + slide-specific CSS (Summary Table CSS or Ticker Dashboard CSS)\n     * Heading\n     * Full\
            \ HTML structure with all div elements properly nested\n   - Do NOT put\
            \ CSS or HTML structure in bullet_points field\n   - bullet_points field\
            \ is for reference only (3-5 key takeaways in plain text)\n\nOutput structured\
            \ JSON with:\n- title: Presentation title in Traditional Chinese\n- slides:\
            \ Array of slide objects, each with:\n  - heading: Slide heading (concise,\
            \ clear)\n  - content: COMPLETE slide content including CSS and HTML (this\
            \ is the actual slide markup)\n  - bullet_points: Array of 3-5 plain text\
            \ bullet points for reference\n  - start_time: Start time in milliseconds\
            \ (optional, from first reason/risk if available)\n  - slide_notes: Optional\
            \ speaker notes\n  - css_styles: Optional (can leave as reference to system\
            \ prompt)\n"
        selected: false
        structured_output:
          schema:
            properties:
              slides:
                items:
                  properties:
                    bullet_points:
                      description: Array of 3-5 bullet point strings for this slide
                        (for reference)
                      items:
                        type: string
                      type: array
                    content:
                      description: Full slide content in Marp format including CSS
                        styling, markdown, and visual elements
                      type: string
                    css_styles:
                      description: Optional CSS styles used in this slide
                      type: string
                    heading:
                      description: Slide heading
                      type: string
                    slide_notes:
                      description: Optional speaker notes
                      type: string
                    start_time:
                      description: Start time in milliseconds (optional)
                      type: integer
                  required:
                  - heading
                  - content
                  - bullet_points
                  type: object
                type: array
              title:
                description: Presentation title in Traditional Chinese
                type: string
            required:
            - title
            - slides
            type: object
        structured_output_enabled: true
        title: MARP_Writer_Ticker
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: marp_writer_ticker_node
      position:
        x: 1005.2564606169835
        y: 571.3067128062806
      positionAbsolute:
        x: 1005.2564606169835
        y: 571.3067128062806
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport requests\n\ndef main(marp_writer_output: dict)\
          \ -> dict:\n    # Initialize Marp markdown content with front matter\n \
          \   marp_parts = [\n        '---',\n        'marp: true',\n        'theme:\
          \ default',\n        'paginate: false',\n        'size: 1080x1080', \n  \
          \      'header: \"\"',\n        'footer: \"\"',\n        '---',\n      \
          \  '',\n        '<style>',\n        'section {',\n        '  padding-bottom:\
          \ 3rem !important;',\n        '}',\n        'ul, ol {',\n        '  margin-bottom:\
          \ 1.5rem !important;',\n        '}',\n        'p:last-child, li:last-child\
          \ {',\n        '  margin-bottom: 2rem !important;',\n        '}',\n    \
          \    '</style>',\n        ''\n    ]\n    \n    # Default filename\n    filename\
          \ = 'ticker_recommendations.pptx'\n    \n    # Generate filename from title if available\n\
          \    if marp_writer_output and 'title' in marp_writer_output:\n        title = marp_writer_output['title']\n\
          \        safe_title = \"\".join([c for c in title if c.isalnum() or c in (' ', '-', '_')]).strip()\n\
          \        if safe_title:\n            filename = f\"{safe_title}.pptx\"\n\
          \    \n    # Process slides (first slide should be the summary table)\n    if marp_writer_output and 'slides' in marp_writer_output\
          \ and isinstance(marp_writer_output['slides'], list):\n        for slide\
          \ in marp_writer_output['slides']:\n            # Check if slide has pre-formatted\
          \ content (new format with CSS)\n            if 'content' in slide and slide['content']:\n\
          \                # Use the full formatted content\n                marp_parts.append(slide['content'])\n\
          \                marp_parts.append('')\n                \n             \
          \   # Add time stamp as HTML comment if available\n                if 'start_time'\
          \ in slide and slide['start_time'] is not None:\n                    marp_parts.append(f\"\
          <!-- #time:{slide['start_time']} -->\")\n                    marp_parts.append('')\n\
          \                \n                # Add speaker notes as HTML comment if\
          \ available\n                if 'slide_notes' in slide and slide['slide_notes']:\n\
          \                    marp_parts.append(f\"<!-- Notes: {slide['slide_notes']}\
          \ -->\")\n                    marp_parts.append('')\n            \n    \
          \        # Add slide separator\n            marp_parts.append('---')\n \
          \           marp_parts.append('')\n    \n    # Join all parts to create\
          \ Marp markdown\n    marp_markdown = '\\n'.join(marp_parts)\n    \n    #\
          \ Call Flask service to convert to PPTX\n    try:\n        response = requests.post(\n\
          \            'http://marp-flask-service:5004/convert',\n            json={'markdown':\
          \ marp_markdown},\n            timeout=60\n        )\n        \n       \
          \ if response.status_code == 200:\n            result = response.json()\n\
          \            if result.get('success'):\n                return {\n     \
          \               'marp_markdown': marp_markdown,\n                    'pptx_base64':\
          \ result.get('pptx_base64', ''),\n                    'filename': result.get('filename',\
          \ filename),\n                    'conversion_status': 'success'\n     \
          \           }\n            else:\n                return {\n           \
          \         'marp_markdown': marp_markdown,\n                    'pptx_base64':\
          \ '',\n                    'filename': filename,\n                    'conversion_status':\
          \ f\"error: {result.get('error', 'unknown error')}\"\n                }\n\
          \        else:\n            return {\n                'marp_markdown': marp_markdown,\n\
          \                'pptx_base64': '',\n                'filename': filename,\n\
          \                'conversion_status': f'error: HTTP {response.status_code}'\n\
          \            }\n    except Exception as e:\n        return {\n         \
          \   'marp_markdown': marp_markdown,\n            'pptx_base64': '',\n  \
          \          'filename': filename,\n            'conversion_status': f'error:\
          \ {str(e)}'\n        }"
        code_language: python3
        desc: ''
        outputs:
          conversion_status:
            children: null
            type: string
          filename:
            children: null
            type: string
          marp_markdown:
            children: null
            type: string
          pptx_base64:
            children: null
            type: string
        selected: false
        title: Marp Converter Ticker
        type: code
        variables:
        - value_selector:
          - marp_writer_ticker_node
          - structured_output
          value_type: object
          variable: marp_writer_output
      height: 51
      id: marp_converter_ticker_node
      position:
        x: 1264.564883634326
        y: 571.3067128062806
      positionAbsolute:
        x: 1264.564883634326
        y: 571.3067128062806
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs:
        - value_selector:
          - markdown_transform_node
          - result
          value_type: string
          variable: markdown_report
        - value_selector:
          - events_to_markdown_node
          - events_markdown
          value_type: string
          variable: events_markdown
        - value_selector:
          - ticker_recommendations_extractor
          - structured_output
          value_type: object
          variable: ticker_recommendations
        - value_selector:
          - marp_converter_ticker_node
          - marp_markdown
          value_type: string
          variable: ticker_marp_markdown
        - value_selector:
          - marp_converter_ticker_node
          - pptx_base64
          value_type: string
          variable: ticker_pptx_base64
        - value_selector:
          - marp_converter_ticker_node
          - filename
          value_type: string
          variable: ticker_pptx_filename
        - value_selector:
          - marp_converter_ticker_node
          - conversion_status
          value_type: string
          variable: ticker_pptx_conversion_status
        selected: false
        title: End
        type: end
      height: 353
      id: end_node
      position:
        x: 1523.8728154245193
        y: 304.10933947313094
      positionAbsolute:
        x: 1523.8728154245193
        y: 304.10933947313094
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 31.331980334354512
      y: -25.402171053567145
      zoom: 0.695241478573145
  rag_pipeline_variables: []
