docs/legacy/dify_config/_legacy/25.12.17.2334.yml
app:
  description: Simplified Content-Builder transcript analysis pipeline with Extractor
    and Writer nodes
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Content-Builder Pipeline (Simplified)
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.0@0d2058fc3e1a7aa93a3749d59d93bdfee25eeb873352ff943918ba6b5bc15ac9
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: trigger-webhook
        targetType: llm
      id: start-to-extractor
      source: start_node
      sourceHandle: source
      target: extractor_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: extractor-to-writer
      source: extractor_node
      sourceHandle: source
      target: writer_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: writer-to-markdown_transform
      source: writer_node
      sourceHandle: source
      target: markdown_transform_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: markdown_transform-to-end
      source: markdown_transform_node
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        async_mode: true
        body:
        - name: transcript
          required: true
          type: string
        - name: source
          required: false
          type: string
        - name: episode_title
          required: false
          type: string
        content_type: application/json
        desc: ''
        headers: []
        method: POST
        params: []
        response_body: "{\n  \"status\": \"success\",\n  \"data\": {\n    \"content\"\
          : \"{{#markdown_transform_node.markdown_output#}}\"\n  },\n  \"metadata\"\
          : {\n    \"source\": \"{{#start_node.source#}}\",\n    \"episode_title\"\
          : \"{{#start_node.episode_title#}}\"\n  }\n}\n"
        selected: false
        status_code: 200
        title: Webhook Trigger
        type: trigger-webhook
        variables:
        - label: transcript
          required: true
          type: text-input
          variable: transcript
        - label: source
          required: false
          type: text-input
          variable: source
        - label: episode_title
          required: false
          type: text-input
          variable: episode_title
        webhook_debug_url: ''
        webhook_url: ''
      height: 129
      id: start_node
      position:
        x: 30
        y: 245
      positionAbsolute:
        x: 30
        y: 245
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            thinking_mode: false
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: extractor-system
          role: system
          text: 'You are a financial news extraction agent analyzing podcast transcripts.


            Your task:

            1. Identify discrete market-moving events from the transcript

            2. Extract only the title and context for each event

            3. Focus on financial and market-relevant content only


            Rules:

            - Extract ONLY financial/market events - discard non-financial content

            - Title should be a short, descriptive title of the financial or market
            event

            - Context should contain all raw text from the transcript related to this
            event

            - Never invent facts not present in the transcript

            - Preserve exact wording from the transcript in the context field

            - Each event should be a discrete, separate market-moving occurrence

            - Err on the side of more granular events rather than combining multiple
            events

            '
        - id: 97e66c56-f630-4892-92cd-68ca7c7dd89a
          role: user
          text: 'Analyze this transcript and extract all market-relevant events.


            Source: {{#start_node.source#}}

            Episode Title: {{#start_node.episode_title#}}


            Transcript:

            {{#start_node.transcript#}}


            For each event, extract:

            - A short descriptive title

            - All raw text from the transcript related to this event


            Focus only on events that would inform investment decisions or affect
            market movements.

            '
        selected: false
        structured_output:
          schema:
            properties:
              events:
                items:
                  properties:
                    context:
                      description: All raw text in the transcript related to this
                        market or financial event
                      type: string
                    title:
                      description: Short descriptive title of the financial or market
                        event
                      type: string
                  required:
                  - title
                  - context
                  type: object
                type: array
            required:
            - events
            type: object
        structured_output_enabled: true
        title: Extractor
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: extractor_node
      position:
        x: 332.79871939850864
        y: 245
      positionAbsolute:
        x: 332.79871939850864
        y: 245
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: gemini-2.5-pro
          provider: langgenius/gemini/google
        prompt_template:
        - id: writer-system
          role: system
          text: 'You are a financial writer agent generating Traditional Chinese (繁體中文)
            content for financial news articles.


            Content Guidelines:

            1. Language: ALL content MUST be in Traditional Chinese (繁體中文)

            2. Financial Focus: Include ONLY financial news, market analysis, earnings
            reports, and economic indicators

            3. Discard: Exclude celebrity gossip, political drama (unless market-impacting),
            sports, lifestyle news

            4. Professional Terminology: Use proper financial terms (e.g., "多頭", "營收",
            "股價")


            Format Requirements:

            - Use proper Markdown structure with ## for main sections, ### for subsections

            - Stock tickers: Format as [Display Name](#ticker:SYMBOL) - e.g., [台積電](#ticker:2330)

            - Tags: Format as [Tag Name](#tag:TAG_NAME) - e.g., [半導體](#tag:Semiconductor)

            - Use **bold** for emphasis, *italics* for quotes

            - Use bullet points or numbered lists for key information

            - Use blockquotes (>) for direct quotes from earnings calls or analyst
            comments


            Structure:

            - Title (H1 equivalent)

            - Executive Summary (2-3 sentences)

            - Key Events (one subsection per event)

            - Analysis and Implications

            - Conclusion


            SEO Best Practices:

            - Include primary keywords in first paragraph

            - Use semantic keywords throughout

            - Keep paragraphs concise (3-5 sentences)

            - Use proper heading hierarchy (don''t skip levels)

            '
        - id: c0070a0c-772e-40df-b1ef-5f0f2b5e6f1c
          role: user
          text: "Generate a Traditional Chinese financial news article from the following\
            \ extracted events:\n\nEvents:\n{{#extractor_node.structured_output#}}\n\
            \nSource: {{#start_node.source#}}\nEpisode Title: {{#start_node.episode_title#}}\n\
            \nRequirements:\n- Language: Traditional Chinese (繁體中文)\n- Target length:\
            \ 800-1000 words\n- Tone: Professional, investor-facing\n- Include stock\
            \ ticker links where companies are mentioned using format [Display Name](#ticker:SYMBOL)\n\
            - Include topic tags where relevant using format [Tag Name](#tag:TAG_NAME)\n\
            - Focus ONLY on financial/market content\n\nOutput a structured JSON object\
            \ with the following fields:\n- title: Article title in Traditional Chinese\n\
            - executive_summary: 2-3 sentence summary in Traditional Chinese\n- sections:\
            \ Array of section objects, each with:\n  - heading: Section heading (H2\
            \ level)\n  - content: Section content in Markdown format with proper\
            \ formatting\n  - subsections: Optional array of subsection objects with\
            \ heading and content\n- conclusion: Conclusion paragraph in Traditional\
            \ Chinese\n- stock_tickers: Array of stock ticker objects with display_name\
            \ and symbol\n- tags: Array of tag objects with display_name and tag_name\n"
        selected: false
        structured_output:
          schema:
            properties:
              conclusion:
                description: Conclusion paragraph in Traditional Chinese
                type: string
              executive_summary:
                description: 2-3 sentence executive summary in Traditional Chinese
                type: string
              sections:
                items:
                  properties:
                    content:
                      description: Section content in Markdown format
                      type: string
                    heading:
                      description: Section heading (H2 level)
                      type: string
                    subsections:
                      items:
                        properties:
                          content:
                            description: Subsection content in Markdown format
                            type: string
                          heading:
                            description: Subsection heading (H3 level)
                            type: string
                        required:
                        - heading
                        - content
                        type: object
                      type: array
                  required:
                  - heading
                  - content
                  type: object
                type: array
              stock_tickers:
                items:
                  properties:
                    display_name:
                      type: string
                    symbol:
                      type: string
                  required:
                  - display_name
                  - symbol
                  type: object
                type: array
              tags:
                items:
                  properties:
                    display_name:
                      type: string
                    tag_name:
                      type: string
                  required:
                  - display_name
                  - tag_name
                  type: object
                type: array
              title:
                description: Article title in Traditional Chinese
                type: string
            required:
            - title
            - executive_summary
            - sections
            - conclusion
            type: object
        structured_output_enabled: true
        title: Writer
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: writer_node
      position:
        x: 638
        y: 245
      positionAbsolute:
        x: 638
        y: 245
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(writer_output: dict) -> dict:\n    # Initialize\
          \ markdown content\n    markdown_parts = []\n\n    # Add title (H1)\n  \
          \  if writer_output and 'title' in writer_output and writer_output['title']:\n\
          \        markdown_parts.append(f\"# {writer_output['title']}\\n\")\n\n \
          \   # Add executive summary\n    if writer_output and 'executive_summary'\
          \ in writer_output and writer_output['executive_summary']:\n        markdown_parts.append(f\"\
          {writer_output['executive_summary']}\\n\")\n\n    # Process sections\n \
          \   if writer_output and 'sections' in writer_output and isinstance(writer_output['sections'],\
          \ list):\n        for section in writer_output['sections']:\n          \
          \  # Add section heading (H2)\n            if 'heading' in section:\n  \
          \              markdown_parts.append(f\"## {section['heading']}\\n\")\n\
          \            \n            # Add section content\n            if 'content'\
          \ in section and section['content']:\n                markdown_parts.append(f\"\
          {section['content']}\\n\")\n            \n            # Process subsections\n\
          \            if 'subsections' in section and isinstance(section['subsections'],\
          \ list):\n                for subsection in section['subsections']:\n  \
          \                  # Add subsection heading (H3)\n                    if\
          \ 'heading' in subsection:\n                        markdown_parts.append(f\"\
          ### {subsection['heading']}\\n\")\n                    \n              \
          \      # Add subsection content\n                    if 'content' in subsection\
          \ and subsection['content']:\n                        markdown_parts.append(f\"\
          {subsection['content']}\\n\")\n\n    # Add conclusion\n    if writer_output\
          \ and 'conclusion' in writer_output and writer_output['conclusion']:\n \
          \       markdown_parts.append(f\"## 結論\\n\\n{writer_output['conclusion']}\\\
          n\")\n\n    # Join all parts\n    markdown_output = \"\\n\".join(markdown_parts)\n\
          \n    # Return the result as a dictionary\n    return {\n        \"result\"\
          : markdown_output\n    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Markdown Transform
        type: code
        variables:
        - value_selector:
          - writer_node
          - structured_output
          value_type: object
          variable: writer_output
      height: 51
      id: markdown_transform_node
      position:
        x: 942
        y: 245
      positionAbsolute:
        x: 942
        y: 245
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs:
        - value_selector:
          - markdown_transform_node
          - result
          value_type: string
          variable: markdown_report
        selected: true
        title: End
        type: end
      height: 88
      id: end_node
      position:
        x: 1246
        y: 245
      positionAbsolute:
        x: 1246
        y: 245
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 86.88159668842388
      y: 31.680967770172742
      zoom: 0.5886274947307706
  rag_pipeline_variables: []
