docs/legacy/dify_config/_legacy/260117_add_ticker_recom.yml
app:
  description: Simplified Content-Builder transcript analysis pipeline with Extractor
    and Writer nodes
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Content-Builder Pipeline (Simplified)
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.2@6e53b92877de2507ce83f2fc32ddf54a9662e4b5ef9e7e5d17bd18153a6485da
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: start-to-extractor
      selected: false
      source: start_node
      sourceHandle: source
      target: extractor_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: extractor-to-clusterer
      source: extractor_node
      sourceHandle: source
      target: sentence_clusterer_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: extractor-to-events-markdown
      source: extractor_node
      sourceHandle: source
      target: events_to_markdown_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: clusterer-to-writer
      source: sentence_clusterer_node
      sourceHandle: source
      target: writer_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: writer-to-markdown_transform
      source: writer_node
      sourceHandle: source
      target: markdown_transform_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: markdown_transform-to-end
      source: markdown_transform_node
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: events-markdown-to-end
      source: events_to_markdown_node
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: clusterer-to-marp-writer
      source: sentence_clusterer_node
      sourceHandle: source
      target: marp_writer_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: marp-writer-to-converter
      source: marp_writer_node
      sourceHandle: source
      target: marp_converter_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: marp-converter-to-end
      source: marp_converter_node
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: clusterer-to-ticker-extractor
      source: sentence_clusterer_node
      sourceHandle: source
      target: ticker_recommendations_extractor
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: ticker-extractor-to-marp-writer-ticker
      source: ticker_recommendations_extractor
      sourceHandle: source
      target: marp_writer_ticker_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: marp-writer-ticker-to-converter
      source: marp_writer_ticker_node
      sourceHandle: source
      target: marp_converter_ticker_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: marp-converter-ticker-to-end
      source: marp_converter_ticker_node
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: ticker-extractor-to-end
      source: ticker_recommendations_extractor
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: transcript
          max_length: null
          options: []
          required: true
          type: text-input
          variable: transcript
        - label: source
          max_length: null
          options: []
          required: false
          type: text-input
          variable: source
        - label: episode_title
          max_length: null
          options: []
          required: false
          type: text-input
          variable: episode_title
        - default: ''
          hint: ''
          label: sentences
          max_length: null
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: sentences
      height: 186
      id: start_node
      position:
        x: -123.9999410677629
        y: 239.7435393830164
      positionAbsolute:
        x: -123.9999410677629
        y: 239.7435393830164
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gemini-3-flash-preview
          provider: langgenius/gemini/google
        prompt_template:
        - id: extractor-system
          role: system
          text: 'You are an event extraction agent analyzing podcast transcripts that
            have been segmented into sentences.


            Your task:

            1. Analyze the sentences array and identify all distinct topics/sections
            discussed

            2. For each topic, identify the range of sentence indices (start_index
            to end_index) that cover that topic

            3. Extract ALL topics discussed, including both financial and non-financial
            content (e.g., "業配營養品", "分享去德國玩的心得", "台積電目前情況", "AI 記憶體/散熱供應鏈")


            Rules:

            - Identify all topics discussed in the transcript, not just financial
            ones

            - Each topic should be a discrete section with a clear theme

            - section_topic should be a descriptive topic name in Traditional Chinese

            - start_index and end_index should be the sentence indices (0-based) that
            cover this topic

            - The ranges should cover ALL sentences with no gaps - every sentence
            index should be included in at least one event

            - Ranges can overlap if a sentence discusses multiple topics

            - Err on the side of more granular topics rather than combining multiple
            distinct topics

            - Never invent facts not present in the transcript

            '
        - id: 97e66c56-f630-4892-92cd-68ca7c7dd89a
          role: user
          text: 'Analyze the sentences array and extract all topics/sections discussed.


            Source: {{#start_node.source#}}

            Episode Title: {{#start_node.episode_title#}}


            Sentences Array:

            {{#start_node.sentences#}}


            For each topic/section, identify:

            - start_index: The starting sentence index (0-based) for this topic

            - end_index: The ending sentence index (inclusive) for this topic

            - section_topic: A descriptive topic name in Traditional Chinese (e.g.,
            "業配營養品", "台積電目前情況，以及股癌針對目前狀況的投資策略", "AI 記憶體/散熱供應鏈 目前狀況")


            Ensure that all sentence indices are covered by at least one event. Topics
            can include both financial and non-financial content.

            '
        selected: false
        structured_output:
          schema:
            properties:
              events:
                items:
                  properties:
                    end_index:
                      description: Ending sentence index (inclusive) for this topic
                      type: integer
                    section_topic:
                      description: Descriptive topic name in Traditional Chinese
                      type: string
                    start_index:
                      description: Starting sentence index (0-based) for this topic
                      type: integer
                  required:
                  - start_index
                  - end_index
                  - section_topic
                  type: object
                type: array
            required:
            - events
            type: object
        structured_output_enabled: true
        title: Event_extractor
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: extractor_node
      position:
        x: 157.3385256768819
        y: 260.7435393830164
      positionAbsolute:
        x: 157.3385256768819
        y: 260.7435393830164
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(event_extractor_output: dict, sentences: str)\
          \ -> dict:\n    # Parse sentences JSON string\n    try:\n        sentences_list\
          \ = json.loads(sentences) if isinstance(sentences, str) else sentences\n\
          \    except (json.JSONDecodeError, TypeError):\n        sentences_list =\
          \ []\n    \n    # Parse event extractor output\n    if not event_extractor_output\
          \ or 'events' not in event_extractor_output:\n        return {'events_markdown':\
          \ '# Events List\\n\\nNo events found.'}\n    \n    events = event_extractor_output.get('events',\
          \ [])\n    \n    # Build markdown content\n    markdown_parts = ['# Events\
          \ List', '']\n    \n    for event in events:\n        start_index = event.get('start_index',\
          \ 0)\n        end_index = event.get('end_index', 0)\n        section_topic\
          \ = event.get('section_topic', 'Untitled Event')\n        \n        # Get\
          \ start time from sentences array using start_index\n        start_time\
          \ = None\n        if start_index < len(sentences_list):\n            sentence\
          \ = sentences_list[start_index]\n            if 'start' in sentence:\n \
          \               start_time = sentence.get('start')\n        \n        #\
          \ Format event entry with H2 heading and time tag (matching summary markdown\
          \ format)\n        if start_time is not None:\n            markdown_parts.append(f'##\
          \ {section_topic} (#time:{start_time})')\n        else:\n            markdown_parts.append(f'##\
          \ {section_topic}')\n        markdown_parts.append(f'  - Indices: {start_index}-{end_index}')\n\
          \        markdown_parts.append('')\n    \n    # Join all parts\n    events_markdown\
          \ = '\\n'.join(markdown_parts)\n    \n    return {'events_markdown': events_markdown}"
        code_language: python3
        desc: ''
        outputs:
          events_markdown:
            children: null
            type: string
        selected: false
        title: Events to Markdown
        type: code
        variables:
        - value_selector:
          - extractor_node
          - structured_output
          value_type: object
          variable: event_extractor_output
        - value_selector:
          - start_node
          - sentences
          value_type: string
          variable: sentences
      height: 51
      id: events_to_markdown_node
      position:
        x: 750.4478642893494
        y: 128.01790880418105
      positionAbsolute:
        x: 750.4478642893494
        y: 128.01790880418105
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(event_extractor_output: dict, sentences: str)\
          \ -> dict:\n    # Parse sentences JSON string\n    try:\n        sentences_list\
          \ = json.loads(sentences) if isinstance(sentences, str) else sentences\n\
          \    except (json.JSONDecodeError, TypeError):\n        sentences_list =\
          \ []\n    \n    # Parse event extractor output\n    if not event_extractor_output\
          \ or 'events' not in event_extractor_output:\n        return {'events':\
          \ []}\n    \n    events = event_extractor_output.get('events', [])\n   \
          \ \n    # Financial/market keywords to filter events\n    financial_keywords\
          \ = [\n        '台積電', 'TSMC', '股價', '股票', '投資', '市場', '財經', '營收', '獲利',\n\
          \        '半導體', 'AI', '記憶體', '散熱', '供應鏈', '多頭', '空頭', '買進', '賣出',\n    \
          \    '財報', '季報', '年報', 'EPS', '本益比', '殖利率', '股息', '股利',\n        '指數', '大盤',\
          \ '個股', 'ETF', '基金', '債券', '匯率', '利率',\n        '經濟', 'GDP', '通膨', '通縮',\
          \ '央行', '聯準會', 'FED',\n        '科技股', '金融股', '傳產', '電子', '傳產股', '金融',\n\
          \        '策略', '分析', '預測', '展望', '趨勢', '行情'\n    ]\n    \n    clustered_events\
          \ = []\n    \n    for event in events:\n        start_index = event.get('start_index',\
          \ 0)\n        end_index = event.get('end_index', 0)\n        section_topic\
          \ = event.get('section_topic', '')\n        \n        # Filter for financial/market-relevant\
          \ topics\n        is_financial = any(keyword in section_topic for keyword\
          \ in financial_keywords)\n        \n        if not is_financial:\n     \
          \       continue\n        \n        # Collect sentences in the range [start_index,\
          \ end_index]\n        event_sentences = []\n        start_time = None\n\
          \        end_time = None\n        \n        for i in range(start_index,\
          \ end_index + 1):\n            if i < len(sentences_list):\n           \
          \     sentence = sentences_list[i]\n                event_sentences.append(sentence)\n\
          \                \n                # Get start time from first sentence\n\
          \                if start_time is None and 'start' in sentence:\n      \
          \              start_time = sentence.get('start')\n                \n  \
          \              # Update end time from last sentence\n                if\
          \ 'end' in sentence:\n                    end_time = sentence.get('end')\n\
          \        \n        # Only add event if we have sentences and times\n   \
          \     if event_sentences and start_time is not None and end_time is not\
          \ None:\n            clustered_events.append({\n                'section_topic':\
          \ section_topic,\n                'sentences': event_sentences,\n      \
          \          'start': start_time,\n                'end': end_time\n     \
          \       })\n    \n    return {'events': clustered_events}"
        code_language: python3
        desc: ''
        outputs:
          events:
            children: null
            type: array[object]
        selected: false
        title: Sentence Clusterer
        type: code
        variables:
        - value_selector:
          - extractor_node
          - structured_output
          value_type: object
          variable: event_extractor_output
        - value_selector:
          - start_node
          - sentences
          value_type: string
          variable: sentences
      height: 51
      id: sentence_clusterer_node
      position:
        x: 445.99242050717874
        y: 299.6555055823876
      positionAbsolute:
        x: 445.99242050717874
        y: 299.6555055823876
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gemini-3-flash-preview
          provider: langgenius/gemini/google
        prompt_template:
        - id: writer-system
          role: system
          text: 'You are a financial writer agent generating Traditional Chinese (繁體中文)
            content for financial news articles.


            Content Guidelines:

            1. Language: ALL content MUST be in Traditional Chinese (繁體中文)

            2. Financial Focus: Include ONLY financial news, market analysis, earnings
            reports, and economic indicators

            3. Discard: Exclude celebrity gossip, political drama (unless market-impacting),
            sports, lifestyle news

            4. Professional Terminology: Use proper financial terms (e.g., "多頭", "營收",
            "股價")


            Format Requirements:

            - Use proper Markdown structure with ## for main sections, ### for subsections

            - Stock tickers: Format as [Display Name](#ticker:SYMBOL) - e.g., [台積電](#ticker:2330)

            - Tags: Format as [Tag Name](#tag:TAG_NAME) - e.g., [半導體](#tag:Semiconductor)

            - Use **bold** for emphasis, *italics* for quotes

            - Use bullet points or numbered lists for key information

            - Use blockquotes (>) for direct quotes from earnings calls or analyst
            comments


            Structure:

            - Title (H1 equivalent)

            - Executive Summary (2-3 sentences)

            - Key Events (one subsection per event)

            - Analysis and Implications

            - Conclusion


            SEO Best Practices:

            - Include primary keywords in first paragraph

            - Use semantic keywords throughout

            - Keep paragraphs concise (3-5 sentences)

            - Use proper heading hierarchy (don''t skip levels)

            '
        - id: c0070a0c-772e-40df-b1ef-5f0f2b5e6f1c
          role: user
          text: "Generate a Traditional Chinese financial news article from the following\
            \ clustered events:\n\nEvents:\n{{#sentence_clusterer_node.events#}}\n\
            \nSource: {{#start_node.source#}}\nEpisode Title: {{#start_node.episode_title#}}\n\
            \nRequirements:\n- Language: Traditional Chinese (繁體中文)\n- Target length:\
            \ 800-1000 words\n- Tone: Professional, investor-facing\n- Include stock\
            \ ticker links where companies are mentioned using format [Display Name](#ticker:SYMBOL)\n\
            - Include topic tags where relevant using format [Tag Name](#tag:TAG_NAME)\n\
            - Focus ONLY on financial/market content\n- For each event section, use\
            \ the section_topic as the heading and include the start time when available\n\
            \nOutput a structured JSON object with the following fields:\n- title:\
            \ Article title in Traditional Chinese\n- executive_summary: 2-3 sentence\
            \ summary in Traditional Chinese\n- sections: Array of section objects,\
            \ each with:\n  - heading: Section heading (H2 level) - should match the\
            \ event's section_topic\n  - content: Section content in Markdown format\
            \ with proper formatting\n  - start_time: Start time in milliseconds (from\
            \ event.start) - include this when available\n  - subsections: Optional\
            \ array of subsection objects with heading and content\n- conclusion:\
            \ Conclusion paragraph in Traditional Chinese\n- stock_tickers: Array\
            \ of stock ticker objects with display_name and symbol\n- tags: Array\
            \ of tag objects with display_name and tag_name\n"
        selected: false
        structured_output:
          schema:
            properties:
              conclusion:
                description: Conclusion paragraph in Traditional Chinese
                type: string
              executive_summary:
                description: 2-3 sentence executive summary in Traditional Chinese
                type: string
              sections:
                items:
                  properties:
                    content:
                      description: Section content in Markdown format
                      type: string
                    heading:
                      description: Section heading (H2 level)
                      type: string
                    start_time:
                      description: Start time in milliseconds (optional, include when
                        available from event)
                      type: integer
                    subsections:
                      items:
                        properties:
                          content:
                            description: Subsection content in Markdown format
                            type: string
                          heading:
                            description: Subsection heading (H3 level)
                            type: string
                        required:
                        - heading
                        - content
                        type: object
                      type: array
                  required:
                  - heading
                  - content
                  type: object
                type: array
              stock_tickers:
                items:
                  properties:
                    display_name:
                      type: string
                    symbol:
                      type: string
                  required:
                  - display_name
                  - symbol
                  type: object
                type: array
              tags:
                items:
                  properties:
                    display_name:
                      type: string
                    tag_name:
                      type: string
                  required:
                  - display_name
                  - tag_name
                  type: object
                type: array
              title:
                description: Article title in Traditional Chinese
                type: string
            required:
            - title
            - executive_summary
            - sections
            - conclusion
            type: object
        structured_output_enabled: true
        title: Writer
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: writer_node
      position:
        x: 750.4478642893494
        y: 299.6555055823876
      positionAbsolute:
        x: 750.4478642893494
        y: 299.6555055823876
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gemini-3-flash-preview
          provider: langgenius/gemini/google
        prompt_template:
        - id: marp-writer-system
          role: system
          text: 'You are a professional financial presentation designer creating clear,
            visually effective Marp slides for financial events in Traditional Chinese
            (繁體中文).


            **IMPORTANT: Slides are in SQUARE format (1080x1080). Design content
            for a 1:1 aspect ratio, not widescreen. Use vertical space effectively
            and ensure content fits well in a square layout.**


            Your objective: Transform financial data into professional, well-structured
            presentations that effectively communicate key insights to investors.
            Balance visual clarity with professional tone - avoid being overly conservative
            or overly casual.


            Core Principles:

            1. **Visual Clarity**: Lead with key numbers and metrics. Use visual hierarchy
            to guide attention to the most important information.

            2. **One Key Insight Per Slide**: Each slide should communicate a single
            clear message. The main point should be immediately apparent.

            3. **Contextual Information**: Provide necessary context - compare to
            expectations, peers, or historical data when relevant.

            4. **Professional Language**: Use appropriate financial terminology. Be
            clear and direct (e.g., "超預期表現" conveys impact while maintaining professionalism).

            5. **Actionable Insights**: Include implications and takeaways that help
            investors understand the significance of the information.


            Language & Content:

            - ALL content MUST be in Traditional Chinese (繁體中文)

            - Use clear, informative headlines: "台積電 Q4 營收成長 18.5%，超預期表現" rather than
            generic "台積電發布財報"

            - Lead with key metrics: Present the most important numbers prominently
            with appropriate visual emphasis

            - Include stock tickers: Format as 台積電 (2330)

            - Use emojis selectively: 📈 📉 💡 ⚠️ (use only when they enhance clarity
            or highlight important information)


            CSS Styling Guidelines:

            Include CSS styling to enhance visual clarity and professional presentation.
            Use inline <style> blocks or CSS classes for:

            1. **Key Metrics**: Emphasize important numbers (3-4em), bold, with appropriate
            color coding: - Green (#10B981) for positive performance/growth - Red
            (#EF4444) for negative performance/concerns - Blue (#1C64F2) for neutral/informational
            content - Orange (#F59E0B) for important warnings or attention items

            2. **Comparison Layouts**: Use CSS Grid for side-by-side comparisons,
            pros/cons, or before/after scenarios

            3. **Highlight Boxes**: Use subtle colored backgrounds and borders to
            emphasize key insights

            4. **Visual Indicators**: Progress bars or visual elements for trends,
            percentages, or completion metrics

            5. **Metric Displays**: Grid layouts for presenting multiple metrics in
            an organized manner

            6. **Typography Hierarchy**: - Key numbers: 3-4em - Section headings:
            2-2.5em - Body text: 1-1.2em

            7. **Spacing & Layout** (CRITICAL for preventing content from touching
            slide boundaries): - Always wrap slide content in a container div with
            padding-bottom: 2-3rem - Add margin-bottom: 1-1.5rem to lists and bullet
            points - Use margin-top: 1rem for spacing between sections - Ensure last
            element has margin-bottom: 2rem to prevent touching footer - Example structure:
            ```css <style> .slide-content { padding-bottom: 3rem; } .bullet-list {
            margin-bottom: 1.5rem; } </style> <div class="slide-content"> ## Heading
            <ul class="bullet-list"> <li>Item 1</li> <li>Item 2</li> </ul> </div>
            ```


            Slide Structure:

            - **Title Slide**: Clear headline with episode context, professional presentation

            - **Event Slides**: * Present key metrics or insights prominently * Provide
            relevant context and comparisons * Include implications and significance
            * Use CSS for appropriate visual emphasis

            - **Conclusion Slide**: Summary of key takeaways and actionable insights
            for investors


            Content Quality Rules:

            - **Be Specific**: "營收成長 18.5%，優於市場預期 12%" rather than generic "營收成長"

            - **Provide Context**: Compare to expectations, peer performance, or historical
            data when relevant

            - **Highlight Discrepancies**: When actual results differ significantly
            from expectations

            - **Risk Indicators**: Clearly distinguish between warnings and opportunities
            using appropriate visual cues

            - **Avoid Vague Language**: Avoid generic phrases like "需要注意" or "值得關注"
            without providing specific context or details


            When to Use CSS:

            - Use CSS for key metrics slides to emphasize important numbers

            - Use CSS for comparison slides to create clear side-by-side layouts

            - Use CSS for trend/percentage slides to include visual indicators

            - Use CSS for warning/alert slides to apply appropriate color coding

            - Use CSS for title slides to maintain professional appearance

            - Consider CSS for slides containing multiple metrics, comparisons, or
            key insights that would benefit from visual organization


            Example Slide Pattern:

            ```css <style> .highlight-number { font-size: 3.5em; font-weight: bold;
            color: #10B981; text-align: center; margin: 1rem 0; } </style>

            ## 台積電 Q4 財報：超預期表現

            <div class="highlight-number">+18.5%</div> <p style="text-align: center;
            color: #6B7280; font-size: 1.1em;">營收成長，優於市場預期 12%</p> ```


            Remember: Your goal is to create professional, clear, and visually organized
            slides that effectively communicate financial information to investors.
            Balance visual clarity with professional presentation standards.

            '
        - id: marp-writer-user
          role: user
          text: "Generate professional Marp presentation slides from the following\
            \ financial events:\n\nEvents:\n{{#sentence_clusterer_node.events#}}\n\
            \nSource: {{#start_node.source#}}\nEpisode Title: {{#start_node.episode_title#}}\n\
            \nRequirements:\n- Language: Traditional Chinese (繁體中文)\n- Create 5-10\
            \ slides total\n- Each event gets its own slide with key insights\n- Use\
            \ clear, informative headlines that highlight the main point\n- Include\
            \ CSS styling for visual clarity (key numbers, comparisons, highlights)\n\
            - Emphasize important numbers with appropriate size and color coding (green\
            \ for positive, red for negative)\n- Use emojis selectively when they\
            \ enhance clarity\n- Stock tickers in format: 台積電 (2330)\n- Lead each\
            \ slide with the most important metric or insight\n- Provide context:\
            \ compare to expectations, peers, or historical data when relevant\n-\
            \ Include implications: what does this information mean for investors?\n\
            \nOutput a structured JSON object with:\n- title: Presentation title in\
            \ Traditional Chinese (clear and professional)\n- slides: Array of slide\
            \ objects, each with:\n  - heading: Slide heading (concise, clear, highlights\
            \ main point)\n  - content: Full slide content in Marp format including\
            \ CSS styling, bullet points, and visual elements\n  - bullet_points:\
            \ Array of 3-5 key point strings (for reference, but content field should\
            \ have full formatted slide)\n  - start_time: Start time in milliseconds\
            \ (from event.start if available)\n  - slide_notes: Optional speaker notes\n\
            \  - css_styles: Optional CSS styles used in this slide (for documentation)\n\
            \n            IMPORTANT: The content field should include complete Marp\
            \ markdown with CSS styling. Use <style> blocks for visual enhancements.\
            \ Make key numbers appropriately sized (3-4em), color-coded, and visually\
            \ clear.\n\nCRITICAL SPACING REQUIREMENT: Always wrap slide content in\
            \ a container div with padding-bottom: 2-3rem to prevent content from\
            \ touching the bottom boundary. Add appropriate margins between elements\
            \ (margin-bottom: 1-1.5rem for lists, margin-top: 1rem between sections).\
            \ Ensure the last element has sufficient bottom margin (2rem minimum).\n"
        selected: false
        structured_output:
          schema:
            properties:
              slides:
                items:
                  properties:
                    bullet_points:
                      description: Array of 3-5 bullet point strings for this slide
                        (for reference)
                      items:
                        type: string
                      type: array
                    content:
                      description: Full slide content in Marp format including CSS
                        styling, markdown, and visual elements. This should be the
                        complete formatted slide ready for Marp rendering.
                      type: string
                    css_styles:
                      description: Optional CSS styles used in this slide (for documentation
                        purposes)
                      type: string
                    heading:
                      description: Slide heading (concise, engaging, lead with impact)
                      type: string
                    slide_notes:
                      description: Optional speaker notes
                      type: string
                    start_time:
                      description: Start time in milliseconds (optional, from event
                        data)
                      type: integer
                  required:
                  - heading
                  - content
                  - bullet_points
                  type: object
                type: array
              title:
                description: Presentation title in Traditional Chinese
                type: string
            required:
            - title
            - slides
            type: object
        structured_output_enabled: true
        title: MARP_Writer
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: marp_writer_node
      position:
        x: 745.9940303986066
        y: 435.48110916463907
      positionAbsolute:
        x: 745.9940303986066
        y: 435.48110916463907
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(writer_output: dict) -> dict:\n    # Initialize\
          \ markdown content\n    markdown_parts = []\n\n    # Add title (H1)\n  \
          \  if writer_output and 'title' in writer_output and writer_output['title']:\n\
          \        markdown_parts.append(f\"# {writer_output['title']}\\n\")\n\n \
          \   # Add executive summary\n    if writer_output and 'executive_summary'\
          \ in writer_output and writer_output['executive_summary']:\n        markdown_parts.append(f\"\
          {writer_output['executive_summary']}\\n\")\n\n    # Process sections\n \
          \   if writer_output and 'sections' in writer_output and isinstance(writer_output['sections'],\
          \ list):\n        for section in writer_output['sections']:\n          \
          \  # Add section heading (H2) with time stamp if available\n           \
          \ heading = section.get('heading', '')\n            start_time = section.get('start_time')\n\
          \            \n            # Add heading with timestamp\n            if\
          \ heading:\n                if start_time is not None:\n                \
          \    markdown_parts.append(f\"## {heading} (#time:{start_time})\\n\")\n\
          \                else:\n                    markdown_parts.append(f\"##\
          \ {heading}\\n\")\n            \n            # Add section content (without\
          \ heading since we added it above)\n            if 'content' in section\
          \ and section['content']:\n                # Skip content if it starts\
          \ with the same heading to avoid duplication\n                content =\
          \ section['content']\n                if content.strip().startswith(f\"\
          ## {heading}\"):\n                    # Content includes heading, skip the\
          \ heading line\n                    lines = content.split('\\n', 1)\n  \
          \                  if len(lines) > 1:\n                        markdown_parts.append(f\"\
          {lines[1]}\\n\")\n                else:\n                    markdown_parts.append(f\"\
          {content}\\n\")\n            \n            # Process subsections\n            if 'subsections' in section\
          \ and isinstance(section['subsections'], list):\n                for subsection\
          \ in section['subsections']:\n                    # Add subsection heading\
          \ (H3)\n                    if 'heading' in subsection:\n              \
          \          markdown_parts.append(f\"### {subsection['heading']}\\n\")\n\
          \                    \n                    # Add subsection content\n  \
          \                  if 'content' in subsection and subsection['content']:\n\
          \                        markdown_parts.append(f\"{subsection['content']}\\\
          n\")\n\n    # Add conclusion\n    if writer_output and 'conclusion' in writer_output\
          \ and writer_output['conclusion']:\n        markdown_parts.append(f\"##\
          \ 結論\\n\\n{writer_output['conclusion']}\\n\")\n\n    # Join all parts\n\
          \    markdown_output = \"\\n\".join(markdown_parts)\n\n    # Return the\
          \ result as a dictionary\n    return {\n        \"result\": markdown_output\n\
          \    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Markdown Transform
        type: code
        variables:
        - value_selector:
          - writer_node
          - structured_output
          value_type: object
          variable: writer_output
      height: 51
      id: markdown_transform_node
      position:
        x: 1005.2564606169835
        y: 299.6555055823876
      positionAbsolute:
        x: 1005.2564606169835
        y: 299.6555055823876
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport requests\n\ndef main(marp_writer_output: dict)\
          \ -> dict:\n    # Initialize Marp markdown content with front matter\n \
          \   marp_parts = [\n        '---',\n        'marp: true',\n        'theme:\
          \ default',\n        'paginate: true',\n        'size: 1080x1080', \n  \
          \      'header: \"\"',\n        'footer: \"\"',\n        '---',\n      \
          \  '',\n        '<style>',\n        'section {',\n        '  padding-bottom:\
          \ 3rem !important;',\n        '}',\n        'ul, ol {',\n        '  margin-bottom:\
          \ 1.5rem !important;',\n        '}',\n        'p:last-child, li:last-child\
          \ {',\n        '  margin-bottom: 2rem !important;',\n        '}',\n    \
          \    '</style>',\n        ''\n    ]\n    \n    # Default filename\n    filename\
          \ = 'presentation.pptx'\n    \n    # Add title slide\n    if marp_writer_output\
          \ and 'title' in marp_writer_output:\n        title = marp_writer_output['title']\n\
          \        marp_parts.append(f\"# {title}\")\n        marp_parts.append('')\n\
          \        marp_parts.append('---')\n        marp_parts.append('')\n     \
          \   \n        # Generate filename from title\n        safe_title = \"\"\
          .join([c for c in title if c.isalnum() or c in (' ', '-', '_')]).strip()\n\
          \        if safe_title:\n            filename = f\"{safe_title}.pptx\"\n\
          \    \n    # Process slides\n    if marp_writer_output and 'slides' in marp_writer_output\
          \ and isinstance(marp_writer_output['slides'], list):\n        for slide\
          \ in marp_writer_output['slides']:\n            # Check if slide has pre-formatted\
          \ content (new format with CSS)\n            if 'content' in slide and slide['content']:\n\
          \                # Use the full formatted content (includes CSS, heading,\
          \ etc.)\n                marp_parts.append(slide['content'])\n         \
          \       marp_parts.append('')\n                \n                # Add time\
          \ stamp as HTML comment if available\n                if 'start_time' in\
          \ slide and slide['start_time'] is not None:\n                    marp_parts.append(f\"\
          <!-- #time:{slide['start_time']} -->\")\n                    marp_parts.append('')\n\
          \                \n                # Add speaker notes as HTML comment if\
          \ available\n                if 'slide_notes' in slide and slide['slide_notes']:\n\
          \                    marp_parts.append(f\"<!-- Notes: {slide['slide_notes']}\
          \ -->\")\n                    marp_parts.append('')\n            else:\n\
          \                # Fallback to old format (backward compatibility)\n   \
          \             # Add slide heading\n                if 'heading' in slide:\n\
          \                    marp_parts.append(f\"## {slide['heading']}\")\n   \
          \                 marp_parts.append('')\n                    \n        \
          \            # Add time stamp as HTML comment if available\n           \
          \         if 'start_time' in slide and slide['start_time'] is not None:\n\
          \                        marp_parts.append(f\"<!-- #time:{slide['start_time']}\
          \ -->\")\n                        marp_parts.append('')\n              \
          \  \n                # Add bullet points\n                if 'bullet_points'\
          \ in slide and isinstance(slide['bullet_points'], list):\n             \
          \       for point in slide['bullet_points']:\n                        marp_parts.append(f\"\
          - {point}\")\n                    marp_parts.append('')\n              \
          \  \n                # Add speaker notes as HTML comment if available\n\
          \                if 'slide_notes' in slide and slide['slide_notes']:\n \
          \                   marp_parts.append(f\"<!-- Notes: {slide['slide_notes']}\
          \ -->\")\n                    marp_parts.append('')\n            \n    \
          \        # Add slide separator\n            marp_parts.append('---')\n \
          \           marp_parts.append('')\n    \n    # Join all parts to create\
          \ Marp markdown\n    marp_markdown = '\\n'.join(marp_parts)\n    \n    #\
          \ Call Flask service to convert to PPTX\n    try:\n        response = requests.post(\n\
          \            'http://marp-flask-service:5004/convert',\n            json={'markdown':\
          \ marp_markdown},\n            timeout=60\n        )\n        \n       \
          \ if response.status_code == 200:\n            result = response.json()\n\
          \            if result.get('success'):\n                return {\n     \
          \               'marp_markdown': marp_markdown,\n                    'pptx_base64':\
          \ result.get('pptx_base64', ''),\n                    'filename': result.get('filename',\
          \ filename),\n                    'conversion_status': 'success'\n     \
          \           }\n            else:\n                return {\n           \
          \         'marp_markdown': marp_markdown,\n                    'pptx_base64':\
          \ '',\n                    'filename': filename,\n                    'conversion_status':\
          \ f\"error: {result.get('error', 'unknown error')}\"\n                }\n\
          \        else:\n            return {\n                'marp_markdown': marp_markdown,\n\
          \                'pptx_base64': '',\n                'filename': filename,\n\
          \                'conversion_status': f'error: HTTP {response.status_code}'\n\
          \            }\n    except Exception as e:\n        return {\n         \
          \   'marp_markdown': marp_markdown,\n            'pptx_base64': '',\n  \
          \          'filename': filename,\n            'conversion_status': f'error:\
          \ {str(e)}'\n        }"
        code_language: python3
        desc: ''
        outputs:
          conversion_status:
            children: null
            type: string
          filename:
            children: null
            type: string
          marp_markdown:
            children: null
            type: string
          pptx_base64:
            children: null
            type: string
        selected: false
        title: Marp Converter
        type: code
        variables:
        - value_selector:
          - marp_writer_node
          - structured_output
          value_type: object
          variable: marp_writer_output
      height: 51
      id: marp_converter_node
      position:
        x: 1005.2564606169835
        y: 435.48110916463907
      positionAbsolute:
        x: 1005.2564606169835
        y: 435.48110916463907
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gemini-3-flash-preview
          provider: langgenius/gemini/google
        prompt_template:
        - id: ticker-extractor-system
          role: system
          text: 'You are a financial analysis agent extracting stock ticker recommendations
            from podcast transcript events.


            Your task:

            1. Analyze the clustered financial events from the podcast

            2. Identify all stock tickers mentioned and their associated recommendations

            3. For each ticker, extract:

            - Sentiment (BULLISH, BEARISH, NEUTRAL)

            - Sentiment score (0.0 to 1.0)

            - Time horizon (SHORT_TERM, MEDIUM_TERM, LONG_TERM)

            - BLUF thesis (bottom line up front - the main investment thesis)

            - Reasons/key drivers with their locations (start_index, end_index, start_time,
            end_time)

            - Risks with their locations (start_index, end_index, start_time, end_time)


            Rules:

            - Only extract ticker recommendations where the podcaster expresses a
            clear opinion or analysis

            - Sentiment should reflect the overall tone: BULLISH (positive outlook),
            BEARISH (negative outlook), NEUTRAL (mixed or no clear direction)

            - Sentiment score: 0.0-0.3 (strongly bearish), 0.3-0.45 (bearish), 0.45-0.55
            (neutral), 0.55-0.7 (bullish), 0.7-1.0 (strongly bullish)

            - Time horizon should match the investment timeframe discussed (if not
            explicitly stated, infer from context)

            - For reasons and risks, use the sentence indices and timestamps from
            the events where they were mentioned

            - Be precise with the bluf_thesis - it should capture the essence of
            the recommendation in one sentence

            - Category for reasons: MACRO, MOAT, OPERATIONAL, DEMAND, SUPPLY, VALUATION,
            TECHNICAL, FUNDAMENTAL

            - Severity for risks: LOW, MEDIUM, HIGH, CRITICAL

            '
        - id: ticker-extractor-user
          role: user
          text: 'Analyze the financial events and extract all stock ticker recommendations.


            Events:

            {{#sentence_clusterer_node.events#}}


            Source: {{#start_node.source#}}

            Episode Title: {{#start_node.episode_title#}}


            Extract ticker recommendations following the structured output schema.
            Include meta information (episode_id from source, publication_date, podcaster
            name) and a comprehensive list of ticker_recommendations with all reasons
            and risks properly indexed with their sentence locations and timestamps.

            '
        selected: false
        structured_output:
          schema:
            properties:
              meta:
                properties:
                  episode_id:
                    description: Unique identifier for the podcast episode
                    type: string
                  podcaster:
                    description: Name of the podcast
                    type: string
                  publication_date:
                    description: ISO 8601 formatted publication date
                    type: string
                required:
                - episode_id
                - publication_date
                - podcaster
                type: object
              ticker_recommendations:
                items:
                  properties:
                    bluf_thesis:
                      description: Bottom line up front thesis for this ticker recommendation
                      type: string
                    exchange:
                      description: Stock exchange (e.g., NASDAQ, NYSE, TAIEX)
                      type: string
                    financials:
                      description: Optional financial data (can be null or object)
                      type: object
                    price_target:
                      description: Optional price target
                      type: number
                    reasons:
                      items:
                        properties:
                          category:
                            description: Category of the reason (e.g., MACRO, MOAT,
                              OPERATIONAL, DEMAND)
                            type: string
                          description:
                            description: Detailed description of the reason
                            type: string
                          end_index:
                            description: Ending sentence index (inclusive) where podcaster
                              mentioned this reason
                            type: integer
                          end_time:
                            description: End time in milliseconds where podcaster
                              mentioned this reason
                            type: integer
                          start_index:
                            description: Starting sentence index (0-based) where podcaster
                              mentioned this reason
                            type: integer
                          start_time:
                            description: Start time in milliseconds where podcaster
                              mentioned this reason
                            type: integer
                          title:
                            description: Title of the reason/key driver
                            type: string
                        required:
                        - title
                        - description
                        - category
                        - start_index
                        - end_index
                        - start_time
                        - end_time
                        type: object
                      type: array
                    risks:
                      items:
                        properties:
                          description:
                            description: Detailed description of the risk
                            type: string
                          end_index:
                            description: Ending sentence index (inclusive) where podcaster
                              mentioned this risk
                            type: integer
                          end_time:
                            description: End time in milliseconds where podcaster
                              mentioned this risk
                            type: integer
                          severity:
                            description: Risk severity (LOW, MEDIUM, HIGH, CRITICAL)
                            type: string
                          start_index:
                            description: Starting sentence index (0-based) where podcaster
                              mentioned this risk
                            type: integer
                          start_time:
                            description: Start time in milliseconds where podcaster
                              mentioned this risk
                            type: integer
                          title:
                            description: Title of the risk
                            type: string
                        required:
                        - title
                        - description
                        - severity
                        - start_index
                        - end_index
                        - start_time
                        - end_time
                        type: object
                      type: array
                    sentiment:
                      description: Sentiment classification (BULLISH, BEARISH, NEUTRAL)
                      type: string
                    sentiment_score:
                      description: Sentiment score between 0.0 and 1.0
                      type: number
                    ticker:
                      description: Stock ticker symbol
                      type: string
                    time_horizon:
                      description: Investment time horizon (SHORT_TERM, MEDIUM_TERM,
                        LONG_TERM)
                      type: string
                  required:
                  - ticker
                  - exchange
                  - sentiment
                  - sentiment_score
                  - time_horizon
                  - bluf_thesis
                  - reasons
                  - risks
                  type: object
                type: array
            required:
            - meta
            - ticker_recommendations
            type: object
        structured_output_enabled: true
        title: Ticker_Recommendations_Extractor
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: ticker_recommendations_extractor
      position:
        x: 745.9940303986066
        y: 571.3067128062806
      positionAbsolute:
        x: 745.9940303986066
        y: 571.3067128062806
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gemini-3-flash-preview
          provider: langgenius/gemini/google
        prompt_template:
        - id: marp-writer-ticker-system
          role: system
          text: 'You are a professional financial presentation designer creating stock
            ticker recommendation slides in Traditional Chinese (繁體中文).


            **IMPORTANT: Slides are in SQUARE format (1080x1080). Design content
            for a 1:1 aspect ratio.**


            Your task: Create a presentation summarizing stock ticker recommendations
            from a podcast episode.


            Slide Structure:

            1. **First Slide - Summary Table**: - Show a high-level overview of all
            tickers mentioned - Include: ticker symbol, exchange, sentiment (with
            icon), sentiment score, time horizon, brief thesis - Format as a clean
            table or card layout - Use color coding: 🟢 for BULLISH, 🟡 for NEUTRAL,
            🔴 for BEARISH


            2. **Following Slides - One Ticker Per Slide**: - Each ticker gets its
            own detailed slide - Show: ticker name, exchange, sentiment, score, time
            horizon, price target (if available) - BLUF thesis prominently displayed
            - List reasons with time links: [理由標題](#time:milliseconds) - List
            risks with severity indicators and time links - Use CSS styling for visual
            clarity


            Styling Guidelines:

            - Use color coding for sentiments and risks

            - Make sentiment scores prominent (2-3em, bold)

            - Format time links as (#time:milliseconds) for clickability

            - Use tables or CSS Grid for clean layouts

            - Ensure proper spacing (padding-bottom: 2-3rem on containers)

            - Stock tickers: Format as [Display Name](#ticker:SYMBOL)


            Language:

            - ALL content MUST be in Traditional Chinese (繁體中文)

            - Use professional financial terminology

            '
        - id: marp-writer-ticker-user
          role: user
          text: "Create a Marp presentation for the stock ticker recommendations:\n\
            \nTicker Recommendations:\n{{#ticker_recommendations_extractor.structured_output#}}\n\
            \nRequirements:\n- First slide: Summary table showing all tickers with\
            \ sentiment, score, time horizon, and brief thesis\n- Following slides:\
            \ One detailed slide per ticker with:\n  - Ticker name and exchange\n\
            \  - Sentiment with icon and score\n  - Time horizon and price target\n\
            \  - BLUF thesis\n  - Reasons section with time links\n  - Risks section\
            \ with severity and time links\n- Use CSS styling for visual clarity\n\
            - Include proper spacing to prevent content from touching boundaries\n\
            - Format time references as (#time:milliseconds)\n- Format ticker references\
            \ as [Name](#ticker:SYMBOL)\n\nOutput structured JSON with:\n- title:\
            \ Presentation title\n- slides: Array of slide objects with heading, content,\
            \ bullet_points, start_time\n"
        selected: false
        structured_output:
          schema:
            properties:
              slides:
                items:
                  properties:
                    bullet_points:
                      description: Array of 3-5 bullet point strings for this slide
                        (for reference)
                      items:
                        type: string
                      type: array
                    content:
                      description: Full slide content in Marp format including CSS
                        styling, markdown, and visual elements
                      type: string
                    css_styles:
                      description: Optional CSS styles used in this slide
                      type: string
                    heading:
                      description: Slide heading
                      type: string
                    slide_notes:
                      description: Optional speaker notes
                      type: string
                    start_time:
                      description: Start time in milliseconds (optional)
                      type: integer
                  required:
                  - heading
                  - content
                  - bullet_points
                  type: object
                type: array
              title:
                description: Presentation title in Traditional Chinese
                type: string
            required:
            - title
            - slides
            type: object
        structured_output_enabled: true
        title: MARP_Writer_Ticker
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: marp_writer_ticker_node
      position:
        x: 1005.2564606169835
        y: 571.3067128062806
      positionAbsolute:
        x: 1005.2564606169835
        y: 571.3067128062806
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport requests\n\ndef main(marp_writer_output: dict)\
          \ -> dict:\n    # Initialize Marp markdown content with front matter\n \
          \   marp_parts = [\n        '---',\n        'marp: true',\n        'theme:\
          \ default',\n        'paginate: true',\n        'size: 1080x1080', \n  \
          \      'header: \"\"',\n        'footer: \"\"',\n        '---',\n      \
          \  '',\n        '<style>',\n        'section {',\n        '  padding-bottom:\
          \ 3rem !important;',\n        '}',\n        'ul, ol {',\n        '  margin-bottom:\
          \ 1.5rem !important;',\n        '}',\n        'p:last-child, li:last-child\
          \ {',\n        '  margin-bottom: 2rem !important;',\n        '}',\n    \
          \    '</style>',\n        ''\n    ]\n    \n    # Default filename\n    filename\
          \ = 'ticker_recommendations.pptx'\n    \n    # Add title slide\n    if marp_writer_output\
          \ and 'title' in marp_writer_output:\n        title = marp_writer_output['title']\n\
          \        marp_parts.append(f\"# {title}\")\n        marp_parts.append('')\n\
          \        marp_parts.append('---')\n        marp_parts.append('')\n     \
          \   \n        # Generate filename from title\n        safe_title = \"\"\
          .join([c for c in title if c.isalnum() or c in (' ', '-', '_')]).strip()\n\
          \        if safe_title:\n            filename = f\"{safe_title}.pptx\"\n\
          \    \n    # Process slides\n    if marp_writer_output and 'slides' in marp_writer_output\
          \ and isinstance(marp_writer_output['slides'], list):\n        for slide\
          \ in marp_writer_output['slides']:\n            # Check if slide has pre-formatted\
          \ content (new format with CSS)\n            if 'content' in slide and slide['content']:\n\
          \                # Use the full formatted content\n                marp_parts.append(slide['content'])\n\
          \                marp_parts.append('')\n                \n               \
          \ # Add time stamp as HTML comment if available\n                if 'start_time'\
          \ in slide and slide['start_time'] is not None:\n                    marp_parts.append(f\"\
          <!-- #time:{slide['start_time']} -->\")\n                    marp_parts.append('')\n\
          \                \n                # Add speaker notes as HTML comment if\
          \ available\n                if 'slide_notes' in slide and slide['slide_notes']:\n\
          \                    marp_parts.append(f\"<!-- Notes: {slide['slide_notes']}\
          \ -->\")\n                    marp_parts.append('')\n            \n      \
          \      # Add slide separator\n            marp_parts.append('---')\n   \
          \         marp_parts.append('')\n    \n    # Join all parts to create Marp\
          \ markdown\n    marp_markdown = '\\n'.join(marp_parts)\n    \n    # Call\
          \ Flask service to convert to PPTX\n    try:\n        response = requests.post(\n\
          \            'http://marp-flask-service:5004/convert',\n            json={'markdown':\
          \ marp_markdown},\n            timeout=60\n        )\n        \n       \
          \ if response.status_code == 200:\n            result = response.json()\n\
          \            if result.get('success'):\n                return {\n     \
          \               'marp_markdown': marp_markdown,\n                    'pptx_base64':\
          \ result.get('pptx_base64', ''),\n                    'filename': result.get('filename',\
          \ filename),\n                    'conversion_status': 'success'\n     \
          \           }\n            else:\n                return {\n           \
          \         'marp_markdown': marp_markdown,\n                    'pptx_base64':\
          \ '',\n                    'filename': filename,\n                    'conversion_status':\
          \ f\"error: {result.get('error', 'unknown error')}\"\n                }\n\
          \        else:\n            return {\n                'marp_markdown': marp_markdown,\n\
          \                'pptx_base64': '',\n                'filename': filename,\n\
          \                'conversion_status': f'error: HTTP {response.status_code}'\n\
          \            }\n    except Exception as e:\n        return {\n         \
          \   'marp_markdown': marp_markdown,\n            'pptx_base64': '',\n  \
          \          'filename': filename,\n            'conversion_status': f'error:\
          \ {str(e)}'\n        }"
        code_language: python3
        desc: ''
        outputs:
          conversion_status:
            children: null
            type: string
          filename:
            children: null
            type: string
          marp_markdown:
            children: null
            type: string
          pptx_base64:
            children: null
            type: string
        selected: false
        title: Marp Converter Ticker
        type: code
        variables:
        - value_selector:
          - marp_writer_ticker_node
          - structured_output
          value_type: object
          variable: marp_writer_output
      height: 51
      id: marp_converter_ticker_node
      position:
        x: 1264.564883634326
        y: 571.3067128062806
      positionAbsolute:
        x: 1264.564883634326
        y: 571.3067128062806
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs:
        - value_selector:
          - markdown_transform_node
          - result
          value_type: string
          variable: markdown_report
        - value_selector:
          - events_to_markdown_node
          - events_markdown
          value_type: string
          variable: events_markdown
        - value_selector:
          - marp_converter_node
          - marp_markdown
          value_type: string
          variable: marp_markdown
        - value_selector:
          - marp_converter_node
          - pptx_base64
          value_type: string
          variable: pptx_base64
        - value_selector:
          - marp_converter_node
          - filename
          value_type: string
          variable: pptx_filename
        - value_selector:
          - marp_converter_node
          - conversion_status
          value_type: string
          variable: pptx_conversion_status
        - value_selector:
          - ticker_recommendations_extractor
          - structured_output
          value_type: object
          variable: ticker_recommendations
        - value_selector:
          - marp_converter_ticker_node
          - marp_markdown
          value_type: string
          variable: ticker_marp_markdown
        - value_selector:
          - marp_converter_ticker_node
          - pptx_base64
          value_type: string
          variable: ticker_pptx_base64
        - value_selector:
          - marp_converter_ticker_node
          - filename
          value_type: string
          variable: ticker_pptx_filename
        - value_selector:
          - marp_converter_ticker_node
          - conversion_status
          value_type: string
          variable: ticker_pptx_conversion_status
        selected: false
        title: End
        type: end
      height: 340
      id: end_node
      position:
        x: 1523.8728154245194
        y: 304.10933947313094
      positionAbsolute:
        x: 1338.3339880207864
        y: 304.10933947313094
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 200.3319803343545
      y: 119.59782894643286
      zoom: 0.695241478573145
  rag_pipeline_variables: []
